{% load crispy_forms_tags %}
<div class="modal-dialog modal-lg-8" role="document">
    <div class="modal-content">
        <form class="formulario" action="{% url 'Academico:editar_esignacion_curso' anio.id_mov_anioelectivo_curso %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <h4 class="titulo">Configuracion | Editar Asignacion curso: </h4>
                <br>
                    {{ form.id_anio_electivo| as_crispy_field }}
                    {{ form.id_curso| as_crispy_field }}
                    {{ form.id_genr_paralelo| as_crispy_field }}
                <center>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    <button type="reset" class="btn btn-outline-info">Restablecer</button>
                    <button class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                </center>
            </div>
        </form>
    </div>
</div>