{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}
<header class="cuadro_titulo text-center bg-gradient-primary">
    <h4 class="title text-light"> Matriculación </h4>
</header>
<br/>


<a class="text-light btn bg-gradient-primary" href="{% url 'Academico:crear_asigancion_curso' %}" id="registrar">
    Agregar
</a>
<br/><br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Asignaciones disponibles en el sistema</h6>
    </div>

    <div class="card-body ">

        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>Año Electivo</th>
                    <th>Curso</th>
                    <th style="width: 2cm">Paralelo</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                {% for a in anio %}
                <tr class="text-center" style="border-width:3px;">
                    <td>{{ a.id_anio_electivo }}</td>
                    <td>{{ a.id_curso }}</td>
                    <td>{{ a.id_genr_paralelo }}
                    <td>
                        <div class="text-center">
                            <a class="btn text-light bg-gradient-primary"
                               onclick="modal('{% url 'Academico:editar_esignacion_curso' a.id_mov_anioelectivo_curso %}')" title="Editar"><i
                                    class="fas fa-info-circle"></i></a>
                            <a type="button" class="btn text-light bg-gradient-danger"
                               onclick="modal_d('{% url 'Academico:eliminar_asig_curso' a.id_mov_anioelectivo_curso %}')" title="Eliminar"><i
                                    class="fas fa-exclamation-triangle"></i></a>
                            <div class="modal fade" id="modales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
                        </div>
                    </td>
                </tr>
                </tbody>

                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock contenido_principal %}

{% block extrajs %}

<script>

    function modal_d(url) {
        $('#modales').load(url,function () {
            $(this).modal('show');
        });
    }
</script>


{% endblock extrajs %}