{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido_principal %}
<form method="POST" action="#">
    {% csrf_token %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        <header class="cuadro_titulo rounded bg-gradient-primary text-center">
            <h4 class="title text-light">Horario Mod </h4>
        </header>
        <div class="card-body card-block">
            <div class="row">
                <div class="col-md-9 order-md-1">
                    <form action="#" enctype="multipart/form-data" class="form-vertical" method="post">
                        <div class="col-auto my-1">{{form|crispy}}</div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Cargar Asignatura</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</form>


{% endblock contenido_principal %} {% block footer %}
{% endblock %}

{% block extrajs %}

<script>
$('#openBtn').click(function(){
        $('#myModal').modal({show:true})
});
</script>
{% endblock extrajs %}