{% extends 'base/blank.html' %}


{% block titulo_cab_menu %}
      SISTEMA ACADEMICO
{%endblock titulo_cab_menu %}

{% block titulo_menu %}
        Opciones disponibles para tu cuenta
{% endblock titulo_menu %}

{% block modulo %}

        {% for menu_p in menu_padre  %}


            <li class="nav-item">

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu_{{menu_p.id_menu}}" aria-expanded="true" aria-controls="collapseTwo">
                         <i class="fas fa-fw fa-cog"></i>
                         <span> {{menu_p.descripcion}} </span>
                    </a>

                <div id="menu_{{menu_p.id_menu}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

                    <div class="collapse-inner rounded" id="submenu_configuracion">

                        <h6 class="collapse-header">{% block cab_sub_menu %} {{menu_p.descripcion}} {% endblock cab_sub_menu%}</h6>

                        {% for menu_h in menu_hijo %}
                                 {%  if menu_p.id_menu == menu_h.id_padre %}
                                 <a class="collapse-item" href="{% url menu_h.url %}" id="item" >{{menu_h.descripcion}}</a>
                                 {% endif %}
                        {% endfor %}

                    </div>

                </div>
           
           </li>

       {% endfor %}

{% endblock modulo %}


<!-- Dentro de este bloque ira el contenido principal de la pagina -->
{% block contenido_principal %}
    <strong>{{request.session.usuario}}</strong>
{% endblock contenido_principal %}
<!-- ************************************************************** -->



{% block pie_de_pagina %}
    
{% endblock pie_de_pagina %}



