{% extends 'base/blank.html' %}


{% block titulo_cab_menu %}
      SISTEMA ACADEMICO
{%endblock titulo_cab_menu %}

{% block titulo_menu %}
        Opciones disponibles para tu cuenta
{% endblock titulo_menu %}

{% block modulo %}

        {% for menu_p in permisos  %}

            <li class="nav-item">

                    {% if menu_p.id_padre == 0 and menu_p.url == '#'%}
                    
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu_{{menu_p.id_menu}}" aria-expanded="true" aria-controls="collapseTwo">
                         <i class="{{menu_p.icono}}"></i>
                         <span> {{menu_p.descripcion}} </span>
                    </a>

                    {% endif %}
                    

                <div id="menu_{{menu_p.id_menu}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

                    <div class="collapse-inner rounded" id="submenu_configuracion">

                        <h6 class="collapse-header">{% block cab_sub_menu %}{{menu_p.descripcion}}{% endblock cab_sub_menu%}</h6>

                        {% for menu_h in permisos %}
                                 {%  if menu_p.id_menu == menu_h.id_padre %}
                                      <a class="collapse-item" onclick="redireccionar('{% url menu_h.url %}')"  id="item">
                                      <i class="{{menu_h.icono}}"></i>
                                      {{menu_h.descripcion}}</a>
                                 {% endif %}
                        {% endfor %}

                    </div>

                </div>

           </li>

       {% endfor %}

{% endblock modulo %}


<!-- Dentro de este bloque ira el contenido principal de la pagina -->
{% block contenido_principal %}
    <div class="div_cont">
        <iframe id="iframe" src="{% url 'Academico:pantalla_principal' %}"  frameborder="0" width="100%" height="100%"  scrolling="yes"></iframe>
    </div>
{% endblock contenido_principal %}
<!-- ************************************************************** -->



{% block pie_de_pagina %}

{% endblock pie_de_pagina %}