   <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <div class="fond-logo">

        <div class="pad-logo">

          <a class="" href="{% url 'Academico:inicio' %}">
              <img src="/static/img/logo-menu.png" height="50" width="50">
          </a>
          <a class="pad-texto-logo" href="{% url 'Academico:inicio' %}">
              <img src="/static/img/texto-menu.png" height="50" width="140">
          </a>

        </div>


      </div>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
{% block modulo %}
      <!-- Nav Item - Pages Collapse Menu -->

 <!-- Nav Item - Dashboard -->
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        {% block titulo_menu %}
            Interface 
        {% endblock titulo_menu %}
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
        {% for menu_p in permisos  %}

  
         <li class="nav-item">
                    {% if menu_p.id_padre == 0 and menu_p.url == '#'%}
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu_{{menu_p.id_menu}}" aria-expanded="true" aria-controls="collapseTwo">
                         <i class="{{menu_p.icono}}"></i>
                         <span> {{menu_p.descripcion}} </span>
                    </a>
                    {% endif %}
                <div id="menu_{{menu_p.id_menu}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

                    <div class="collapse-inner rounded" id="submenu_configuracion">

                        <h6 class="collapse-header">{% block cab_sub_menu %}{{menu_p.descripcion}}{% endblock cab_sub_menu%}</h6>

                        {% for menu_h in permisos %}
                                 {%  if menu_p.id_menu == menu_h.id_padre %}
                                      <a class="collapse-item" onclick="redireccionar('{% url menu_h.url %}')"  id="item">
                                      <i class="{{menu_h.icono}}"></i>
                                      {{menu_h.descripcion}}</a>
                                 {% endif %}
                        {% endfor %}
                    </div>
                </div>
           </li>
       {% endfor %}

      {% endblock modulo %}
      <!-- Nav Item - Utilities Collapse Menu -->
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->