{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% block footer %}
{% endblock footer %}

{% block contenido_principal%}

<div class="row">
    <div class="col-md-12">
        <div class="card-header">
            <header class="cuadro_titulo">
                <h1 align="center"><b class="titulo text-white">Unidad Educativa Fiscal Jaime Roldos Aguilera</b></h1>
            </header>
        </div>
    </div>
</div>

<br>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">CANTIDAD DE USUARIOS
                            REGISTRADOS
                        </div>

                        {% if usuarios %}
                        <div class="h5 mb-0 font-weight-bold text-primary text-primary-800">{{usuarios}} Actualmente
                        </div>
                        {% else %}
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Sin registros de usuarios actualmente</div>
                        {% endif %}

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CANTIDAD DE PERSONAS
                            REGISTRADAS EN EL SISTEMA
                        </div>

                        {% if personas %}
                        <div class="h5 mb-0 font-weight-bold text-success text-success-800">{{personas}} personas
                            actualmente.
                        </div>
                        {% else %}
                        <div class="h5 mb-0 font-weight-bold text-success text-success-800">Sin registro</div>
                        {% endif %}

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CANTIDAD DE EMPLEADOS
                            REGISTRADAS EN EL SISTEMA
                        </div>

                        {% if empleados %}
                        <div class="h5 mb-0 font-weight-bold text-info text-success-800">{{empleados}} empleados
                            actualmente.
                        </div>
                        {% else %}
                        <div class="h5 mb-0 font-weight-bold text-info text-success-800">Sin registro de empleados en el
                            sistema.
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CANTIDAD DE ALUMNOS
                            REGISTRADAS EN EL SISTEMA
                        </div>

                        {% if alumnos %}
                        <div class="h5 mb-0 font-weight-bold text-info text-warning-800">{{alumnos}} estudiantes
                            actualmente.
                        </div>
                        {% else %}
                        <div class="h5 mb-0 font-weight-bold text-info text-warning-800">Sin registro de estudiantes
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Propuesta de grafico</h6>
            <div class="dropdown no-arrow">
                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#"
                   id="dropdownMenuLink" role="button">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div aria-labelledby="dropdownMenuLink"
                     class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas class="chartjs-render-monitor" height="320" id="myAreaChart" style="display: block; width: 623px; height: 320px;"
                        width="623"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock contenido_principal %}