{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>timeout</title>
      <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" />
    <script type="text/javascript">
if (top != self) top.location.href = location.href;
</script>
</head>
<body>

    <script>



    </script>

<center>
    <label>Su sesion ha caducado</label>
<br/>
    <h3>por favor vuelva a iniciar sesion</h3>
    <a href="{% url 'Academico:login' %}" class="btn btn-primary btn-user  " >Iniciar session</a>
</center>
</body>
</html>