{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}

{% block contenido_principal %}
<form method="POST" action="#">
    {% csrf_token %}
      {% if error %}
        <h2>{{ error }}</h2>
     {% else %}
                <header class="cuadro_titulo">
                    <h4 class="titulo text-center"> Asignación | Horario  </h4>
                </header>

                <div class="card-body ">
                    <form enctype="multipart/form-data" class="form-horizontal" method="POST" >
                            <div class="text-center">
                                <br>
                                <div class="row">
                                     {% if not bool %}
                                    <div class="col-md-4">
                                        <h5>Jornada</h5>
                                        <select name="jornada" class="select form-control"  >
                                            {% for a in jor  %}
                                                <option value={{ a.idgenr_general }}>{{a.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 >Regimen</h5>
                                        <select name="regimen" class="select form-control" >
                                            {% for horario in tre  %}
                                                <option value={{ horario.idgenr_general}}>{{horario.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Año lectivo</h5>
                                        <select name="anio_lectivo" class="select form-control"  >
                                            {% for horario in lec  %}
                                                <option value={{ horario.id_anio_lectivo }}>{{horario.anio}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 >Modalidad</h5>
                                        <select name="modalidad" class="select form-control"  >
                                            {% for horario in mod  %}
                                                <option value={{ horario.idgenr_general}}>{{horario.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 >Tipo De Educacion </h5>
                                        <select name="tip_edu" class="select form-control" >
                                            {% for horario in ted  %}
                                                <option value={{ horario.idgenr_general}}>{{horario.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 >Niveles</h5>
                                        <select name="nivel" class="select form-control"  >
                                            {% for horario in niv  %}
                                                <option value={{ horario.idgenr_general}}>{{horario.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <h5 >Curso</h5>
                                        <select name="curso" class="select form-control"  >
                                            {% for horario in tic  %}
                                                <option value={{ horario.id_mov_anioelectivo_curso}}>{{horario}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                         <br><br>

                            <input type="submit" value="Consultar" class="btn btn-primary">
                                {% endif %}
                                <br><br><br><br>
                                <center><table border="1" class="text-center" >
                                    <tr >
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">HORA</th>
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">LUNES</th>
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">MARTES</th>
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">MIERCOLES</th>
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">JUEVES</th>
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">VIERNES</th>
                                        <th style="padding: 20px;width: 9rem; background-color: #2e59d9; color:white">SABADO</th>
                                    </tr>
                                    {% if item %}
                                        {% for a in item %}
                                             <tr >
                                       <td style="padding: 20px">{{ a.hora_inicio }}/{{ a.hora_fin }}</td>
                                        <td style="padding: 20px">{{ a.materia_profesor }}</td>
                                        <td style="padding: 20px"></td>
                                        <td style="padding: 20px"></td>
                                        <td style="padding: 20px"></td>
                                        <td style="padding: 20px"></td>
                                        <td style="padding: 20px"></td>
                                    </tr>
                                        {% endfor %}
                                    {% endif %}

                                </table></center>

                            </div>
                            <br><br>
                            <div class="text-center">
                                <a class="btn btn-outline-danger" href="{% url 'Academico:horario_curso' %}">Cancelar</a>
                            </div>
                    </form>
                </div>
          </form>
    {% endif %}

{% endblock contenido_principal %} {% block footer %}
{% endblock %}

{% block extrajs %}
    <style>
    .col-md-auto
		{
			border: 1px solid #ddd;
			padding: 10px;
		}
    </style>

{% endblock extrajs %}
