{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}

{% block contenido_principal %}
<form method="POST" action="{% url 'Academico:editar_horario' h.id_horario  %}">
    {% csrf_token %}
      {% if error %}
        <h2>{{ error }}</h2>

     {% else %}
                <header class="cuadro_titulo">
                    <h4 class="titulo text-center">Asignación | Horario  </h4>
                </header>

                <div class="card-body ">
                    <form enctype="multipart/form-data" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-6">
                                {{ form.id_materia_profesor|as_crispy_field }}
                                {{ form.hora_inicio|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.id_genr_dia|as_crispy_field }}
                                {{ form.hora_fin|as_crispy_field }}
                            </div>
                        </div>


                        <br><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary">Guardar</button>
                            <a class="btn btn-outline-danger" href="{% url 'Academico:lista_horario' %}">Cancelar</a>
                        </div>
                    </form>
                </div>
    {% endif %}

{% endblock contenido_principal %} {% block footer %}
{% endblock %}

{% block extrajs %}
{% endblock extrajs %}


