cymysql==0.9.14
Django==2.2.5
django-cymysql==2.2.0
django-debug-toolbar==2.1
django-rest-framework==0.1.0
djangorestframework==3.11.0
Pillow==6.2.1
pytz==2019.2
sqlparse==0.3.0
python3-memcached==1.51
Jinja2==2.10.3