{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script>
  <title>SA - Inicio</title>
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %} " rel="stylesheet">
  <!-- Custom styles for this template-->
  {% block extracss %}
  {% endblock extracss %}
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/formularios.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>







<body id="page-top">

  <div id="wrapper">
    {% block sidebar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <div class="fond-logo">

        <div class="pad-logo">

          <a class="" href="{% url 'Academico:inicio' %}">
            <img src="/static/img/logo-menu.png" height="50" width="50">
          </a>
          <a class="pad-texto-logo" href="{% url 'Academico:inicio' %}">
            <img src="/static/img/texto-menu.png" height="50" width="140">
          </a>

        </div>


      </div>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      {% block modulo %}
      <!-- Nav Item - Pages Collapse Menu -->

      <!-- Nav Item - Dashboard -->
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading text-light">
        {% block titulo_menu %}
        Modulos
        {% endblock titulo_menu %}
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      {% for menu_p in permisos  %}

      <li class="nav-item">
            
            {% ifchanged menu_p %}
            {% if menu_p.id_padre == 0 %}
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu_{{menu_p.id_menu}}"
              aria-expanded="true" aria-controls="collapseTwo">
              <i class="{{menu_p.icono}}"></i>
              <span> {{menu_p.descripcion}} </span>
            </a>
            {% endif %}

              
            
        <div id="menu_{{menu_p.id_menu}}" class="collapse " aria-labelledby="headingTwo"
          data-parent="#accordionSidebar">
          <div class="collapse-inner rounded bg-gradient-primary" id="submenu_configuracion">
            <h6 class="collapse-header text-light">{% block cab_sub_menu %}{{menu_p.descripcion}}{% endblock cab_sub_menu%}</h6>
            {% for menu_h in permisos %}
             {% ifchanged menu_h  %}
                {% if menu_p.id_menu == menu_h.id_padre %}
                <a class="collapse-item text-light" onclick="redireccionar('{% url menu_h.url %}')" id="item">
                <i class="{{menu_h.icono}}"></i>
                {{menu_h.descripcion}}</a>
              <!--------submenu---->
                {% for submenu in permisos %}

                      {% if submenu.id_padre == menu_h.id_menu %}
                <div id="submenu_{{submenu.id_menu}}" class="collapse ">

                <h5>{{ submenu.descripcion }}</h5>


                </div>
                    {% endif %}

                {% endfor %}

                {% endif %}
            {% endifchanged %}
            {% endfor %}
          </div>
        </div>
      </li>
      {% endifchanged %}
      {% endfor %}
      
            <!-- Nav Item - Utilities Collapse Menu -->
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
      {% endblock modulo %}

    <!-- End of Sidebar -->
    {% endblock sidebar %}

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
        {% block encabezado %}
        <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline small initialism">{{info_usuario.usuario}}</span>
                <img class="img-profile rounded-circle"
                  src="{{info_usuario.id_persona.imagen}}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configurar mi cuenta
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'Academico:logout' %}" data-toggle="modal"
                  data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesion
                </a>
              </div>
            </li>

          </ul>
        </nav>

        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="{% url 'Academico:logout' %}">Cerrar Sesion</a>
              </div>
            </div>
          </div>
        </div>
        {% endblock encabezado %}
        <div class="container-fluid">
          <!-- Page Heading -->
          {% block contenido_principal %}
            
          <div class="div_cont">
            <iframe id="iframe" src="{% url 'Academico:pantalla_principal' %}" frameborder="0" width="100%"
              height="100%" scrolling="yes"></iframe>
          </div>
          {% endblock contenido_principal %}
          <!-- /.container-fluid -->
        </div>
        {% block footer %}
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; ISTG</span>
            </div>
          </div>
        </footer>
        {% endblock footer %}
        <!-- Footer -->

        <!-- End of Footer -->
      </div>

    </div>
    <!-- Scroll to Top Button-->
    {% block scrool %}
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    {% endblock scrool %}
  </div>







  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'js/modales.js'%}"></script>
  <script type="text/javascript"
    src="{% static 'js/validaciones_formularios/validaciones_modulo_configuracion.js' %}"></script>
  <script src="{% static 'js/blockUi.js'%}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>





  </script>
  <script>
    function mascaraObloqueo() {
      $.blockUI({
        message: '<strong>Procesando información... <img src="{% static 'img/loading.gif' %}" width="120" height="120"> <strong>',
        css: {
        border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        '-webkit-border-radius': '10px',
        '-moz-border-radius': '10px',
        opacity: .5,
        color: '#fff'
      } });

    setTimeout($.unblockUI, 1000);
	}
    function redireccionar(url) {
      mascaraObloqueo();
      var iframe = document.getElementById('iframe');
      //console.log(url);
      iframe.src = url;
    }
  </script>

  {% block extrajs %}
  {% endblock extrajs %}
</body>

</html>