{% load crispy_forms_tags %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
<form method="POST" action="{% url 'Academico:actualizar_registro_notas' a.id_detalle_registro_notas  %}">
    {% csrf_token %}
      {% if error %}
    <h2>{{ error }}</h2>
    {% else %}
    <header class="cuadro_titulo">
        <h4 class="titulo text-center">Movimiento | Editar Notas</h4>
    </header>
    <div class="card-body card-block">
        <form action="#" enctype="multipart/form-data" class="form-horizontal">
            <div class="row justify-content-center">
                <div class="col-4">
                    {{ form.id_matriculacion_estudiante|as_crispy_field }}
                    {{ form.disciplina|as_crispy_field }}
                    {{ form.id_materia_profesor|as_crispy_field }}
                    {{ form.id_general_quimestre|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.primer_parcial|as_crispy_field }}
                    {{ form.segundo_parcial|as_crispy_field }}
                    {{ form.tercer_parcial|as_crispy_field }}
                    {{ form.promedio_parciales|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.examen|as_crispy_field }}
                    {{ form.examen_supletorio|as_crispy_field }}
                    {{ form.examen_gracia|as_crispy_field }}
                    {{ form.total_promedio_general|as_crispy_field }}
                </div>
            </div><br><br><br>
			<div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Guardar </button>
                <button type="reset" class="btn btn-outline-info">Restablecer</button>
                <a class="btn btn-outline-danger" href="{% url 'Academico:registro_notas' %}">Cancelar</a>
            </div>
  			</form>
        </div>
          </form>
    {% endif %}
    </div>
</div>