{% extends 'base/base.html' %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}

{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo rounded bg-gradient-primary text-center"><h4 class="title text-light"> Movimiento |
    Registro Notas </h4></header>

<br/>

<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registros de Notas</h6>
    </div>
    <div class="col-12">
    <form action="" method="post" class="form-row">
        <select name="cursos" class="form-control">
            {% for i in  cursos %}
            <option value={{ i.id_detalle_materia_curso }}>{{ i }}</option> 
            {% endfor %}
            </select>

    </form>
    
    
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>Estudiante</th>
                    <th>1 Parcial</th>
                    <th>2 Parcial</th>
                    <th>3 Parcial</th>
                    <th>Promedio Parcial</th>
                    <th>Examen</th>
                </tr>
                </thead>
                <tbody>
                {% for notas in object_list %}
                <tr class="text-dark">
                    <td>{{notas.id_matriculacion_estudiante}}</td>
                    <td>{{notas.primer_parcial}}</td>
                    <td>{{notas.segundo_parcial}}</td>
                    <td>{{notas.tercer_parcial}}</td>
                    <td>{{notas.promedio_parciales}}</td>
                    <td >{{notas.examen}}</td>
                    <td align="center">
                        
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido_principal %}
{% block extrajs %}

{% endblock extrajs %}
