<div class="modal-dialog modal-lg-4" role="document">
    <div class="modal-content">
        <div class="contenido">
            <form method="POST" action="{% url 'Academico:eliminar_registro_notas' a.id_detalle_registro_notas  %}">
                {% csrf_token %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Eliminar Registro de Notas</h6>
                    </div>
                    <div class="card-body">
                        <label>¿Esta seguro que desea eliminar este Registro?</label><br>
                        Estudiante: <label>{{ a.id_matriculacion_estudiante }}</label><br>
                        Quimestre:  <label>{{ a.id_general_quimestre }}</label><br>
                        <div class="botones">
                            <br/>
                            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                            <a class="btn btn-outline-primary" href="{% url 'Academico:registro_notas' %}" >Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
