{% extends 'base/base.html' %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}

{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo rounded bg-gradient-primary text-center"><h4 class="title text-light"> Movimiento |
    Registro Notas </h4></header>

<br/>
<a class="btn bg-gradient-primary text-light" href="{% url 'Academico:crear_registro_notas' %}"
   id="registrar">Agregar </a>
<br/>
<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registros de Notas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>Estudiante</th>
                    <th>Primer parcial</th>
                    <th>Segundo parcial</th>
                    <th>Tercer parcial</th>
                    <th>Examen</th>
                    <th>Quimestre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for notas in object_list %}
                <tr class="text-dark">
                    <td>{{notas.id_matriculacion_estudiante}}</td>
                    <td contenteditable='true'>{{notas.primer_parcial}}</td>
                    <td contenteditable='true'>{{notas.segundo_parcial}}</td>
                    <td contenteditable='true'>{{notas.tercer_parcial}}</td>
                    <td contenteditable='true'>{{notas.examen}}</td>
                    <td contenteditable='true'>{{notas.id_general_quimestre}}</td>
                    <td align="center">
                        <a class="btn bg-gradient-primary text-light"
                           onclick="modal('{% url 'Academico:actualizar_registro_notas' notas.id_detalle_registro_notas %}')" title="Editar"><i class="fas fa-info-circle"></i></a>
                        <a class="btn bg-gradient-danger text-light"
                           onclick="modal('{% url 'Academico:eliminar_registro_notas' notas.id_detalle_registro_notas %}')" title="Eliminar"><i
                                class="fas fa-exclamation-triangle"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido_principal %}
{% block extrajs %}
<div class="modal fade" id="mostrar_modal" role="dialog">

</div>
{% endblock extrajs %}
