{% extends 'base/base.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}
{% endblock footer %}
{% block contenido_principal %}
<header class="cuadro_titulo rounded bg-gradient-primary text-center"><h4 class="title text-light"> Asignacion |
    Profesores </h4></header>
<br/>
<a class="btn bg-gradient-primary text-light" href="{% url 'Academico:asignacion_materiasprof'%}">Todos Los
    Profesores</a>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a class="btn bg-gradient-primary text-light" href="{% url 'Academico:profesoresAsignados'%}">Profesores
    Asignados</a>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a class="btn bg-gradient-primary text-light" href="{% url 'Academico:profesoresSinAsignar'%}">Profesores Sin
    Asignar</a>
<br/>
<br/>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registros de Docentes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>Codigo</th>
                    <th>Profesor</th>
                    <th>Materia</th>
                    <th>Curso</th>
                    <th>Opciones</th>
                </tr>

                </thead>

                <tbody>

                {% for info in lista_profesor %}

                <tr class="text-dark">

                    {% for a in info  %}

                   

                    {% if not a.id_materia_profesor %}

                     <td>

                    {{ a }}

                    </td>

                     {% else %}

                     <td align="center">

                        <a class="btn bg-gradient-success text-light"

                           href="{% url 'Academico:horario_mod' a.id_materia_profesor  %}" title="Asignar Materia"> <i class="fas fa-atlas"></i></a>

                        <a class="btn bg-gradient-danger text-light"

                           href="{% url 'Academico:eliminar_profesor' a.id_materia_profesor  %}"

                           title="Eliminar"><i class="fas fa-exclamation-triangle"></i></a>

                    </td>

                    {% endif %}

                    {% endfor %}



                   

                </tr>

                {% endfor %}

                {%if lista_profesor_sin_asignar%}

                {% for info in lista_profesor_sin_asignar %}

                <tr class="text-dark">

                    <td>{{info.id_materia_profesor}}</td>

                    <td>{{info.id_empleado.id_persona.nombres}}</td>

                    <td align="center">

                        <a class="btn bg-gradient-primary text-light"

                           href="{% url 'Academico:horario_mod' info.id_materia_profesor  %}" title="">Asignar Materia</a>

                        <a class="btn bg-gradient-danger text-light"

                           href="{% url 'Academico:eliminar_profesor' info.id_materia_profesor %}"

                           title="Eliminar {{info.id_empleado.id_persona.nombres}}">Eliminar</a>

                    </td>

                </tr>

                {% endfor %}

                {%endif%}

                </tbody>

            </table>

        </div>

    </div>

</div>



<div class="modal fade" id="modal_crear" role="dialog">





</div>



<div class="modal fade" id="modal_editar" role="dialog">





</div>



<div class="modal fade" id="modal_eliminar" role="dialog">

</div>

{% endblock contenido_principal %}