<!DOCTYPE html>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<html>
<head>
    <style type="text/css">
  td{
  text-align: center;
  }
  caption{
  background-color: #cdcdcd;
  }
  @page{
  size: letter;
  }
  table{
  width: 75%;
  }
    </style>
</head>
<body>
<table>
    <tr>
        <td rowspan="3">Imagen</td>
        <td>UNIDAD EDUCATIVA FISCAL JAIME ROLDÓS AGUILERA</td>
    </tr>
    <tr>
        <td>PERÍODO LECTIVO 2019 - 2020</td>
    </tr>
    <tr>
        <td>FICHA DE MATRÍCULA</td>
    </tr>
</table>
<br>
<table border="1">
    <caption>DATOS DEL ESTUDIANTE</caption>
    <tr>
        <th>No. CÉDULA / PASAPORTE</th>
        <th>COD ALFNUM</th>
        <th colspan="3">CURSO 2019 - 2020</th>
        <th ROWSPAN="8">Imagen DEL ESTUDIANTE</th>
    </tr>
    <tr>
        <td>{{Estudiante.identificacion}}</td>
        <td>37344</td>
        <td colspan="3">#¡REF!</td>
    </tr>
    <tr>
        <th colspan="5">APELLIDOS / NOMBRES COMPLETOS</th>
    </tr>
    <tr>
        <td colspan="5">{{Estudiante.apellidos}} &nbsp; {{Estudiante.nombres}}  </td>
    </tr>
    <tr>
        <th>FECHA / NACIMIENTO</th>
        <th>EDAD</th>
        <th>GÉNERO</th>
        <th>PAIS NACIM.</th>
        <th>CIUDAD</th>
    </tr>
    <tr>
        <td>{{Estudiante.fecha_de_nacimiento}}</td>
        <td>14</td>
        <td>{{Estudiante.id_genr_genero}}</td>
        <td>{{Estudiante.id_genr_pais}}</td>
        <td>{{Estudiante.id_genr_ciudad}}</td>
    </tr>
    <tr>
        <th colspan="5">DIRECCIÓN</th>
    </tr>
    <tr>
        <td colspan="5">{{Estudiante.direccion}}</td>
    </tr>
    <tr>
        <th>SECTOR</th>
        <th colspan="5">REFERENCIA DE UBICACIÓN</th>
    </tr>
    <tr>
        <td>#¡REF!</td>
        <td colspan="5">3880363</td>
    </tr>
    <tr>
        <th colspan="3">CORREO ELECTRÓNICO:</th>
        <th colspan="2">NACIONALIDAD</th>
        <th>MAMÁ/PAPÁ</th>
    </tr>
    <tr>
        <td colspan="3">MESTIZO</td>
        <td colspan="2">NINGUNA</td>
        <td></td>
    </tr>
    <tr>
        <th>No. TEL. CONVENCIONAL</th>
        <th colspan="2">No. TEL. CELULAR</th>
        <th colspan="3">Discapacidad</th>
    </tr>
    <tr>
        <td>123456879</td>
        <td colspan="2">123456789</td>
        <td colspan="3">Trabajar en el academico</td>
    </tr>
    <tr>
        <th colspan="3">PLANTEL DE PROCEDENCIA</th>
        <th colspan="3">CURSO 2018 - 2019</th>
    </tr>
    <tr>
        <td colspan="3">1 DE BACHILLERATO</td>
        <td colspan="3">#¡REF!</td>
    </tr>
</table>
<br>
<table border="1">
    <caption>DATOS DEL REPRESENTANTE LEGAL</caption>
    <tr>
        <th>No. CÉDULA / PASAPORTE</th>
        <th colspan="4">NOMBRE COMPLETO (APELLIDOS / NOMBRES)</th>
        <th COLSPAN="2" ROWSPAN="10">Imagen DEL REPRESENTANTE</th>
    </tr>
    <tr>
        <td>28755</td>
        <td colspan="4">#¡REF!</td>
    </tr>
    <tr>
        <th>FECHA / NACIMIENTO:</th>
        <th>EDAD:</th>
        <th>GÉNERO</th>
        <th>PAIS</th>
        <th>CIUDAD</th>
    </tr>
    <tr>
        <td></td>
        <td>20</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th colspan="5">DIRECCIÓN</th>
    </tr>
    <tr>
        <td colspan="5">LA CHALA</td>
    </tr>
    <tr>
        <th colspan="3">CORREO ELECTRÓNICO:</th>
        <th colspan="2">PARENTEZCO CON ESTUD.</th>
    </tr>
    <tr>
        <td colspan="3">PutoAcademico@hotmail.com</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th>No. TEL. CONVENCIONAL</th>
        <th colspan="2">No. TEL. CELULAR</th>
        <th colspan="2">PROFESIÓN</th>
    </tr>
    <tr>
        <td>123456789</td>
        <td colspan="2"></td>
        <td colspan="2">Puto Ingeniero</td>
    </tr>
    <tr>
        <th colspan="4">LUGAR DE TRABAJO</th>
        <th colspan="2">TELEF. LUGAR TRABAJO</th>
        <th>VIVE / ESTUD</th>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td colspan="2">123456789</td>
        <td></td>
    </tr>
</table>
<br>
<table border="1">
    <caption>DATOS DE LA MAMA</caption>
    <tr>
        <th>No. CÉDULA / PASAPORTE</th>
        <th colspan="5">APELLIDOS / NOMBRES COMPLETOS</th>
        <th>VIVE / ESTUD</th>
    </tr>
    <tr>
        <td>28755</td>
        <td colspan="5">#¡REF!</td>
        <td>28755</td>
    </tr>
    <tr>
        <th>FECHA / NACIMIENTO:</th>
        <th>EDAD</th>
        <th>GENERO</th>
        <th>PAIS</th>
        <th>CIUDAD</th>
        <th colspan="2">No. TEL. CELULAR</th>
    </tr>
    <tr>
        <td></td>
        <td>20</td>
        <td>F</td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th colspan="3">CORREO ELECTRÓNICO:</th>
        <th colspan="4">OCUPACION</th>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="4">ESTRIPER</td>
    </tr>
</table>
<br>
<table border="1">
    <caption>DATOS DEL PAPA</caption>
    <tr>
        <th>No. CÉDULA / PASAPORTE</th>
        <th colspan="5">APELLIDOS / NOMBRES COMPLETOS</th>
        <th>VIVE / ESTUD</th>
    </tr>
    <tr>
        <td>28755</td>
        <td colspan="5">#¡REF!</td>
        <td>28755</td>
    </tr>
    <tr>
        <th>FECHA / NACIMIENTO:</th>
        <th>EDAD</th>
        <th>GENERO</th>
        <th>PAIS</th>
        <th>CIUDAD</th>
        <th colspan="2">No. TEL. CELULAR</th>
    </tr>
    <tr>
        <td></td>
        <td>20</td>
        <td>F</td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th colspan="3">CORREO ELECTRÓNICO:</th>
        <th colspan="4">OCUPACION</th>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="4">ESTRIPER</td>
    </tr>
</table>
<br>
<table>
  <tr>
    <td>Repres. Legal </td>
    <td>SECRETARIA</td>
    <td>RECTORA</td>
  </tr>
</table>

<div id="footer_content">
    <br>
      <div id="contenido_del_footer" style="font-size: 15px;">
        <label>Fecha: {{fecha_actual}}</label>
    </div>
</div>

</body>
</html>