{% extends 'base/base.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}
{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo"> <h4 class="title"> Matriculacion | Tabla referencial de cursos </h4></header>

<br/><br/>
     <a href="{% url 'Academico:crear_general' %}" class="btn btn-primary"  id="registrar"><span class="glyphicon glyphicon-plus"></span>Nuevo</a>
<br/><br/>
 <form action="/" method="POST">
    </form>
<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered"  width="100%" id="dataTable" cellspacing="0"data-page-length='5'>
                  <thead class="bg-gradient-primary text-light">
                    <tr class="text-center">
                      <th>Tipo</th>
                      <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Opcion</th>


                    </tr>
                  </thead>
                  <tbody>

                  {% for general in object_list %}
                    <tr>
                      <td><strong>{{general.tipo}}</strong></td>
                      <td><strong>{{general.codigo}}</strong></td>
                        <td><strong>{{general.nombre}}</strong></td>
                        <td>
                          <a href="{% url 'Academico:editar_general' general.idgenr_general %}" class="btn btn-primary" title="Editar"><i class="fas fa-info-circle"></i></a>
                      </td>


                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>



{% endblock contenido_principal %}

{% block extrajs %}

<script type="text/javascript">
  $(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "searching": true,
      "language": {
        "lengthMenu": "Mostrar _MENU_ por página",
        "zeroRecords": "Sin datos",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "",
        "search": "Buscar:",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
      }
    });

    $('.dataTables_length').addClass('bs-select');
  });
</script>

{% endblock extrajs %}