{% extends 'sistemaAcademico/inicio.html' %}

	{% block contenido_principal %}

<header class="cuadro_titulo">
    <h4 class="titulo">Configuracion / Registrar Modulo</h4>
</header>
     <br/>
     <form class="formulario">
         <div class="contenido">
             <br>
            <label class="texto">
                Codigo:
            </label>
            <input type="text" class="cajatexto">
             <br/>

            <label class="texto">
                Nombre:
            </label>
            <input type="text" class="cajatexto">
             <br/>
         </div>
             <div class="botones">
             <br/>
             <button type="submit" class="btn btn-outline-primary">Guardar</button>
             <button type="reset" class="btn btn-outline-primary">Resetear</button>
             <a class="btn btn-outline-primary" href="{% url 'Academico:modulo' %}">Cancelar</a>
             </div>
     </form>


{% endblock contenido_principal %}
