{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido_principal %}
<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
                 <form class="formulario" method="POST" action="{% url 'Academico:nuevo_modulo' %}">{% csrf_token %}
                    <div class="modal-body" >
                    <header class="cuadro_titulo">
                    <h4 class="titulo">Configuracion / Registrar Modulo</h4>
                    </header>

                     <div class="contenido">
                         <br>
                            {{form.codigo|as_crispy_field}}
                         <br/>
                            {{form.nombre|as_crispy_field}}
                         <br>
                     </div>
                        <center>
                         <button type="submit" class="btn btn-outline-primary">Registrar modulo</button>
                         <button type="reset" class="btn btn-outline-info">Restablecer</button>
                         <button class="btn btn-outline-danger" data-dismiss="modal">Cancelar registro</button>
                        </center>
                 </div>
                 </form>
    </div>
</div>
{% endblock contenido_principal %}

