<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
          <header class="cuadro_titulo">
            <h4 class="titulo">Configuracion | Editar Modulo: {{modulo.nombre}} </h4>
            </header>
        <form class="formulario" action="{% url 'Academico:editar_modulo' modulo.id_modulo %}" method="POST">{% csrf_token %}
        <div class="modal-body" >
         <div class="contenido">
            <br>
            <label class="texto" for="id_modulo">Id: </label>
            <input type="text" id="id_modulo" name="id_modulo" value="{{modulo.id_modulo}}" readonly class="cajatexto">
            <br>
            <label class="texto">Nombre del modulo:</label>
            <input type="text" name="nom_modulo" id="nom_modulo" value="{{modulo.nombre}}" class="cajatexto">
            <br/>
            <label class="texto">Codigo:</label>
            <input type="text" class="cajatexto" name="codigo" id="codigo" value="{{modulo.codigo}}">
            <br/>
            <div class="botones">
            <br/>
                <center>
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
            <button type="reset" class="btn btn-outline-primary">Resetear</button>
            <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                </center>
            </div>

         </div>

             </div>
        </form>
    </div>
</div>
