<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
				<form method="POST" action="{% url 'Academico:eliminar_modulo' modulo.id_modulo %}"> {% csrf_token %}
					 <div class="modal-body">
             			<header class="cuadro_titulo bg-danger">
                    		<h4 class="titulo">Configuracion | Eliminar Modulo</h4>
                    	</header>
								<div class="contenido text-dark">
             			   			Esta seguro que deseas eliminar este Modulo?<br>
             			   			Nombre del menu: <label>{{modulo.nombre}}</label><br>
             			   			Nombre <label>{{modulo.nombre}}</label><br> 
             			   			Codigo: <label>{{modulo.codigo}}</label><br>
             			   			<div class="botones">
        						    <br/>
        						    <button type="submit" class="btn btn-outline-danger btn-user">Eliminar</button>
        						    <button class="btn btn-outline-primary btn-user" data-dismiss="modal">Cancelar</button>
        						    </div>
        						</div>
             			 		</div>
             		</div>
				</form>
	</div>
</div>