{% extends 'sistemaAcademico/inicio.html' %}
{% load staticfiles %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
  {% block extracss %}
         <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
         <script src="{% static 'js/Modulo_rest_api.js'%}"></script>
  {% endblock extracss %}
                  {% block contenido_principal %}
<header class="cuadro_titulo"> <h4 class="title"> Configuracion | Modulos</h4></header>
<br/><br/>
     <button onclick="modal('{% url 'Academico:nuevo_modulo' %}')" class="btn btn-outline-primary"  id="registrar"><span class="glyphicon glyphicon-plus"></span>nuevo
</button>
<br/><br/>
<div class="card-body">
  <div class="table-responsive">
                <table data-url="{% url 'Academico:api_modulo' %}" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody id="cuerpo">
                  </tbody>
                </table>
              </div>
            </div>
{% endblock contenido_principal %}
{% block extrajs %}
<div class="modal fade" id="mostrar_modal" role="dialog"></div>
{% endblock extrajs %}


