{% load crispy_forms_tags %}
<div class="modal-dialog modal-lg-8" role="document">
    <div class="modal-content">
        <form method="POST" action="{% url 'Academico:editar_general' F.idgenr_general  %}">
            {% csrf_token %}
            <h3> ¿Desea eliminar el Ti´p {{ general.nombre }}? </h3>
            <button class="btn btn-danger" type="Submit">Eliminar</button>
            <a class="btn btn-primary" href="{% url 'notas:listarmateria' %}">Cancelar</a>
        </form>
    </div>
</div>
