
.cuadro_titulo{
    height: 50px;
    margin: -10px;
    background-color:#4e73df;
    color: white;
    padding: 14px;
}

.titulo{
    font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;

}

.formulario{
    font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}

.contenido{

}

.texto{
    margin-left: 10px;
    text-align: left;
    width: 150px;
}

.cajatexto{

   background-color: white;
   border-radius: 10px;
   border-style: solid;
   border-color:#CACACA ;
   padding-left: 10px;
   height: 30px;
   width: 250px;
   margin-left:30px;
   margin-top:10px;
   font-size: 14px;
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
}

.botones{
   margin-left: 90px;
}

#submenu_configuracion{
padding-left: 10px;
background-color: #4e73df;
}


#submenu_configuracion  a:hover{
padding-left: 20px;
color: white;
background-color: #5591E2;

}

.lista_empresa_layout{
float:right;
margin-top: -355px;
margin-right: 70px;
}

.eliminar_empresa{
padding: 5px;
border-top-color: #858796;
border-left-color: white;
border-right-color: white;
border-bottom-color: white;
 border-style: solid;
border-top-left-radius: 5px;
margin-top: 5px;
margin-left: 0px;
margin-bottom: -20px;
}

.paginacion_derecha{
float:right;
margin-top: 0px;
margin-right: 500px;
}

.formulario_lado_derecho{
    float:right;
    margin-top: -210px;
    margin-right: 120px;
    font-size: 14px;
}

.tabla_lista_cab{
    background-color: #4e73df;
    color: white;
    font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
    width: 200px;
    text-align: center;
}

.tabla_lista_cont{
    height: 40px;
    font-size: 12px;
    padding: 10px;
}

.tabla_lista_cont label{
    padding-left: 10px;
}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}
