
h1 {
    font-size: 25px;
    font-weight: 800;
    color: blue;
    text-align: center;
}

body {
    font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cajatexto {
   background-color: #def;
   border-radius: 20px;
   border-style: groove;
   border-color:#CACACA ;
   padding-left: 10px;
   height: 30px;
   width: 300px;
   margin-left:-20px;
   margin-top:15px;
   font-size: 15px;
   font-family: Arial;

}

header{
height: 60px;
margin: -10px;
background-color:#4e73df;
color: white;

}

.title{
margin-left: 20px;

}

label{
    margin-left: 270px;
    text-align: left;
    width: 200px;
}

#uno{
   margin-left: -290px;
    padding: 10px;
    margin-top: 20px;
}

#dos{
    margin-left: 250px;
    margin-top: -260px;
    padding: 0px;
}

#add_rol_guardar{
margin-left: 500px ;
}

.contenido_uno{
float : left;
margin-left: 0px;

}
