{% extends 'base/base.html' %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}

{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo rounded bg-gradient-primary text-center"><h4 class="title text-light"> Matriculacion |
    Cursos </h4></header>

<br/>
<a class="btn bg-gradient-primary text-light" href="{% url 'Academico:create_curso' %}" id="registrar">Agregar </a>
<br/>
<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cursos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Regimen</th>
                    <th>Modalidad</th>
                    <th>Tipo Educacion</th>
                    <th>Formacion</th>
                    <th>Curso</th>
                    <th>Cupo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                {% for c in cursos %}
                <tr class="text-dark">
                    <td>{{c.codigo}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.id_genr_regimen}}</td>
                    <td>{{c.id_genr_modalidad}}</td>
                    <td>{{c.id_genr_tipo_edu}}</td>
                    <td>{{ c.id_genr_formacion }}</td>
                    <td>{{ c.id_genr_curso }}</td>
                    <td>{{ c.cupo }}</td>

                    <td align="center">
                        <a class="btn bg-gradient-primary text-light" href="{% url 'Academico:edit_curso' c.id_curso %}"
                           title="Editar"><i class="fas fa-info-circle"></i></a>
                        <a type="button" class="btn bg-gradient-danger text-light" onclick="eliminar_curso('{%url 'Academico:eliminar_curso' c.id_curso %}')"
                           title="Eliminar" data-toggle="modal" data-target="eliminar_cursos"><i
                                class="fas fa-exclamation-triangle"></i></a>
                        <div class="modal fade" id="eliminar_cursos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock contenido_principal %}
{% block extrajs %}
<script>

    function eliminar_curso(url) {
        $('#eliminar_cursos').load(url,function () {
            $(this).modal('show');
        });
    }
</script>
{% endblock extrajs %}
