{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% block footer %}

{% endblock footer %}
{% block contenido_principal %}

 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>asdasd</th>
                      <th>sd</th>
                      <th>Ofsdasdasdfice</th>
                      <th>Asadasdasdge</th>
                      <th>Stasdasdasdart date</th>
                      <th>Salasdasdasary</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Na23423423me</th>
                      <th>Po234234234sition</th>
                      <th>Of234234234fice</th>
                      <th>Ag234234234e</th>
                      <th>St234234234art date</th>
                      <th>Sa23423423423lary</th>
                    </tr>
                  </tfoot>
            </table>


{% endblock contenido_principal %}