<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

            <form class="formulario" id="registrar_menu" name="registrar_menu" method="POST" action="{% url 'Academico:nuevo_menu' %}">{% csrf_token %}

                    <div class="modal-body" >
                            <header class="cuadro_titulo">
                                <h4 class="titulo">Configuracion | Registrar Menu</h4>
                            </header>
                     <div class="contenido">
                        <br/>

                        <label class="text-dark h6 " for="modulo">Modulos:</label>
                            <select  name="modulo" id="modulo" class="form-control text-dark">
                                <option selected="true" class="text-dark" disabled="disabled">
                                        Seleccione un <strong>Modulo</strong> o un <strong>Menu padre</strong> para este menu:
                                </option>
                                    {% for mp in menu_padre  %}
                                            {% if mp.id_padre == 0 %}
                                                <option class="text-dark" value="{{mp.id_menu}}">{{mp.descripcion}}</option>
                                            {% endif %}
                                    {% endfor %}
                            </select>

                        <div class="invalid-feedback" style="display: none;" id="error_modulo" name="error_modulo">
                          <label id="mensaje_modulo" name="mensaje_modulo">Seleccione unos de los modulos disponibles para este menu</label>
                        </div>
                        <br/>

                        <label class="text-dark h6" for="descripcion">Nombre del menu: </label>
                            <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Ejemplo: Usuarios" required>

                            <div class="invalid-feedback " id="error_nom_menu" style="display: none;" name="error_nom_menu">
                                    <label id="mensaje_menu" name="mensaje_menu">Nombre del menu ya es uso. porfavor,ingrese otro</label>
                            </div>
                        
                        <br/>
                        
                        <label class="text-dark h6">Url: </label>
                            <input type="text" name="url" id="url" class="form-control" placeholder="Ejemplo: Academico:name" required>

                                <div class="invalid-feedback " id="error_url" style="display: none;" name="error_url">
                                    <label id="mensaje_url" name="mensaje_url">Url ingresado ya esta en uso, por favor,ingrese otro.</label>
                                </div>
                        <br/>

                        <label class="text-dark text-control h6">Lazy name: </label>
                            <input type="text" placeholder="Ejemplo: index/" name="lazyname" id="lazyname" class="form-control" required>
                              <div class="invalid-feedback" style="display: none;" id="error_lazy" name="error_lazy">
                                <label id="mensaje_lazy" name="mensaje_lazy">Lazy name ingresado ya esta en uso, por favor,ingrese otro.</label>
                             </div>
                            <br/>

                         <label class="text-dark text-control h6">Name:</label>
                            <input type="text" placeholder="Ejemplo: index" name="name" id="name" class="form-control" required>
                            
                             <div class="invalid-feedback" style="display: none;" id="error_name" name="error_name">
                                <label id="mensaje_name" name="mensaje_name">Name ingresado ya esta en uso, por favor,ingrese otro.</label>
                             </div>
                            <br/>

                         <label class="text-dark text-control h6">Nombre del controlador:</label>
                            <input type="text" placeholder="Ejemplo: index_view" name="view" id="view" class="form-control" required>
                             <div class="invalid-feedback" style="display: none;" id="error_view" name="error_view">
                                <label id="mensaje_view" name="mensaje_view">View ya esta siendo utilizado, por favor,ingrese otro.</label>
                             </div>
                            <br/>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="button" class="btn btn-outline-primary btn-block" onclick="guardar_menu()" id="btn_guardar_menu" value="Guardar"  name="btn_guardar_menu"/>
                            </div>
                        
                            <div class="form-group col-md-6">
                                 <button class="btn btn-outline-danger btn-block" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
            </form>
    </div>
</div>

