<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

        <form class="formulario" action="{% url 'Academico:editar_menu' menu_actual.id_menu %}" method="POST">{% csrf_token %}
        <div class="modal-body" >
            <header class="cuadro_titulo">
            <h4 class="titulo">Configuracion | Editar Menu</h4>
            </header>
         <div class="contenido">

            <label class="texto">Nombre del menu:</label>
                <input type="text" name="nom_menu" value="{{menu_actual.descripcion}}" class="cajatexto">
            <br/>

             <label class="texto"> Url: </label>
                <input type="text" name="url"class="cajatexto" value="{{menu_actual.url}}">
              <br/>
            <br>
            <label class="texto">Lazy name: </label>
                <input type="text"  value="{{menu_actual.lazy_name}}" name="lazyname" id="lazyname" class="cajatexto">
            <br/>

             <label class="texto">Name:</label>
                <input type="text" value="{{menu_actual.name}}" name="name" id="name" class="cajatexto">
            <br/>

             <label class="texto">Nombre del controlador:</label>
                <input type="text" value="{{menu_actual.view}}" name="view" id="view" class="cajatexto">
             <br/>
             <div class="botones">
             <br/>
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
                <button type="reset" class="btn btn-outline-primary">Resetear</button>
             <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
             </div>
         </div>
             </div>
        </form>
    </div>
</div>


