<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
				<form method="POST" action="{% url 'Academico:eliminar_menu' menu.id_menu %}"> {% csrf_token %}
					 <div class="card shadow mb-4">
             			 <div class="card-header py-3">
             			   <h6 class="m-0 font-weight-bold text-danger">Eliminar menu</h6>
             			 </div>
								<div class="card-body">
             			   			Esta seguro que deseas eliminar este Menu?<br>
             			   			Nombre del menu: <label>{{menu.descripcion}}</label><br>
             			   			tipo: <label>Menu Principal</label><br>
             			   			Url: <label>{{menu.url}}</label><br>
             			   			<div class="botones">
        						    <br/>
        						    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
        						    <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
        						    </div>
        						</div>
             		 </div>
				</form>
	</div>
</div>