{% extends "sistemaAcademico/inicio.html" %}
{% load staticfiles %}

{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}

<header class="cuadro_titulo"> <h4 class="title"> Configuracion | Menu </h4></header>

<br/><br/>
     <button onclick="crear_modal('{% url 'Academico:nuevo_menu' %} ')" class="btn btn-outline-primary"  id="registrar"><span class="glyphicon glyphicon-plus"></span>nuevo
</button>
<br/><br/>

<div class="card-body">
<div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length='25'>
                  <thead>
                    <tr>
                      <th>Nombre del menu</th>
                      <th>Url</th>
                      <th>Icono</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>


                  <tbody>

                  {% for m in menu %}
                     {% if m.id_padre == 0 %}
                          <tr>
                            <td><strong>{{m.descripcion}}</strong></td>
                            <td><strong>No requerido</strong></td>
                            <td><strong>{{m.icono}}</strong></td>
                            <td>
                               <button onclick="editar_modal('{% url 'Academico:editar_menu' m.id_menu %}')" class="btn-info btn-circle" title="Editar {{m.descripcion}}"><i class="fas fa-info-circle"></i></button>

                               <button onclick="eliminar_modal('{% url 'Academico:eliminar_menu' m.id_menu %}')" class="btn btn-danger btn-circle" title="Eliminar {{m.descripcion}}"><i class="fas fa-trash"></i></button>

                               <a href="#opcion_{{m.id_menu}}" data-toggle="collapse" role="button"  aria-dropeffect="link" aria-controls="opcion_{{m.id_menu}}" class="btn btn-success btn-circle" title="Ver contenido de {{m.descripcion}}"><i class="fas fa-arrow-down"></i></a>
                          </td>
                    </tr>
                      {% endif %}
                    
                  {% endfor %}

                  {% for h in menu %}

                  {% if h.id_padre != 0 %}

                  <tr id="opcion_{{h.id_padre}}" class="collapse" aria-expanded="false">
                      <td>{{h.descripcion}}</td>
                      <td>{{h.url}}</td>
                      <td>{{h.icono}}</td>
                      <td>
                          <button onclick="editar_modal('{% url 'Academico:editar_menu' h.id_menu %}')" class="btn-info btn-circle" title="Editar {{h.descripcion}}"><i class="fas fa-info-circle"></i></button>

                         <button onclick="eliminar_modal('{% url 'Academico:eliminar_menu' h.id_menu %}')" class="btn btn-danger btn-circle" title="Eliminar {{h.descripcion}}"><i class="fas fa-trash"></i></button>

                         <a href="{% url h.url %}" class="btn btn-success btn-circle" title="Ver contenido de {{h.descripcion}}"><i class="{{h.icono}}"></i> </a>
                      </td>
                  </tr>
                  {% endif %}

                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>

{% endblock contenido_principal %}

{% block extrajs %}

<div class="modal fade" id="modal_crear" role="dialog">


</div>

<div class="modal fade" id="modal_editar" role="dialog">


</div>

<div class="modal fade" id="modal_eliminar" role="dialog">

  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


{% endblock extrajs %}





</div>




