{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}
<header class="cuadro_titulo bg-gradient-primary text-center "> <h4 class="title text-light"> Configuracion | Acciones </h4></header>
                          <br/>
                             <a href="{% url 'Academico:nueva_accion' %}" type="button" class="btn bg-gradient-primary text-light">Agregar acciones <span class="glyphicon glyphicon-plus">Agregar</a>
                          <br/><br/>


         <div class="card-body ">

              <div class="table-responsive">
                <table class="table table-bordered table-hover"  id="dtBasicExample" width="100%" cellspacing="0" data-page-length='5'>
                  <thead class="bg-gradient-primary">
                    <tr class="text-light text-center" >
                      <th>#</th>
                      <th>Descripcion</th>
                      <th>Menu</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                   <tbody>
                    {% for m in a %}
                        <tr class="text-dark">
                          <td class="text-dark">{{m.id_accion}}</td>
                          <td>{{m.descripcion}}</td>
                          <td>{{m.id_menu.descripcion}}</td>
                          <td class="text-center">
                               <button onclick="modal('{% url 'Academico:eliminar_accion' m.id_accion %}')" class="btn bg-gradient-danger text-light" title="Eliminar {{m.nombre}}">
                              <i class="fas fa-warning-circle"></i>Eliminar</button>
                          </td>

                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

{% endblock contenido_principal %}

{% block extrajs %}



<div class="modal fade" id="mostrar_modal" role="dialog">


</div>



  <script type="text/javascript">
 $(document).ready(function () {
    $('#dtBasicExample').DataTable({
        "searching": true,
        "language": {
            "lengthMenu": "Mostrar _MENU_ por página",
            "zeroRecords": "Sin datos",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        }
    });

    $('.dataTables_length').addClass('bs-select');
});
  </script>

{% endblock extrajs %}







