{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}
<header class="cuadro_titulo bg-gradient-primary text-center ">
  <h4 class="title text-light"> Configuracion | Acciones </h4>
</header>
<br />

{% for m in permisos %}
    {% for acciones in agregar %}
        {% if m.descripcion == acciones.descripcion and acciones.url == 'Academico:acciones' %}
            <a href="{% url 'Academico:nueva_accion' %}" type="button" class="btn bg-gradient-success float-right text-light ">
            <span class="glyphicon glyphicon-plus">Agregar accion </a><i class="fas fa-plus"></i>
        {% endif %}
    {% endfor %}    
  {% endfor %}


<br /><br />

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Acciones disponibles en el sistema</h6>
  </div>

  <div class="card-body ">

  <div class="table-responsive">
    <table class="table table-bordered table-hover" id="dtBasicExample" width="100%" cellspacing="0"
      data-page-length='5'>
      <thead class="bg-gradient-primary">
        <tr class="text-light text-center">
          <th>#</th>
          <th>Roles</th>
          <th>Menu</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for m in a %}
        <tr class="text-dark">
          <td class="text-dark">{{m.id_accion}}</td>
          <td>{{m.id_rol.nombre}}</td>
          <td>{{m.descripcion}}</td>
          <td>
            {% for menu in m.id_menu.all %}
                {{menu.descripcion}}
            {% endfor %}
          </td>
          <td class="text-center">

              {% for ma in permisos %}
                {% for acciones in editar %}
                    {% if ma.descripcion == acciones.descripcion and acciones.url == 'Academico:acciones' %}
                        <a href="{% url 'Academico:editar_accion' m.id_accion %}" class="btn bg-gradient-primary text-light"
                        title="Editar {{m.descripcion}}">
                        <i class="fas fa-info-circle"></i> Editar accion <i class="fas fa-info-circle"></i></a> 
                    {% endif %}
                {% endfor %}    
              {% endfor %}

          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock contenido_principal %}

{% block extrajs %}



<div class="modal fade" id="mostrar_modal" role="dialog">


</div>



<script type="text/javascript">
  $(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "searching": true,
      "language": {
        "lengthMenu": "Mostrar _MENU_ por página",
        "zeroRecords": "Sin datos",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "",
        "search": "Buscar:",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
      }
    });

    $('.dataTables_length').addClass('bs-select');
  });
</script>

{% endblock extrajs %}