{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% block footer %}

{% endblock footer %}

{% block contenido_principal %}

<header class="cuadro_titulo rounded bg-gradient-primary text-center"><h4 class="title text-light"> Mantenimiento |
    Estudiantes </h4></header>
<br/>
<br/>

<br/>
<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro de estudiantes</h6>
    </div>

    <div class="card-body ">
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>#</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Identificacion</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                <tr class="text-dark">
                    <td class="text-dark">{{object.id_persona}}</td>
                    <td>{{object.nombres}}</td>
                    <td>{{object.apellidos}}</td>
                    <td>{{object.identificacion}}</td>
                    <td class="text-center">
                        <a class="btn bg-gradient-success text-light"
                           href="{% url 'Academico:consultar_estudiante' object.id_persona %}" title="Consultar {{m.nombres}}">CONSULTAR
                            <i class="fas fa fa-male"></i></a>
                        <a class="btn bg-gradient-primary text-light"
                           href="{% url 'Academico:editar_estudiante' object.id_persona %}" title="Editar {{m.nombres}}">EDITAR
                            <i class="fas fa-info-circle"></i></a>

                        <a class="btn bg-gradient-info text-light"
                            href="{% url 'Academico:ficha_reporte' object.id_persona %}" target="_blank" title="Ficha de matricula {{m.nombres}}">IMPRIMIR
                             <i class="fas fa-file-pdf"></i></a>
                    </td>
                </tr>


                </tbody>
            </table>
             <div class="text-center">
                         <a class="btn btn-danger" href="{% url 'Academico:logout' %}">Salir Del Sistema</a>
             </div>
        </div>
    </div>
</div>
{% if msj %}
<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <div class="toast" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
    {{msj}}
    </div>
  </div>
</div>
{% endif %}
{% endblock contenido_principal %}
{% block extrajs %}
<div class="modal fade" id="mostrar_modal" role="dialog">

</div>
{% endblock extrajs %}






