<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form action="{% url 'Academico:eliminar_empleado' empleado.id_persona %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <header class="cuadro_titulo bg-danger">
                    <h4 class="titulo">Admision | Eliminar Empleado</h4>
                </header>

                <div class="contenido text-dark text-center">
                    Esta seguro que deseas eliminar este empleado ?<br><br>
                    Nombre del empleado: <label><strong>{{ empleado.nombres }}</strong></label><br>
                    Apellido del empleado: <label><strong>{{ empleado.apellidos }}</strong></label><br>
                    Numero de Identificacion: <label><strong>{{ empleado.identificacion }}</strong></label><br>
                    <label><strong>{{ empleado.id_genr_tipo_usuario }}</strong></label><br>
                    <div class="row darkwhite-bg py-2">
                        <div class="col-12">
                            <div class="form-row">
                                <div class=" col-5 col-md-6 mb-0">
                                    <button type="submit" class="btn btn-outline-danger btn-block">Eliminar</button>
                                </div>
                                <div class=" col-5 col-md-6 mb-0">
                                    <button class="btn btn-outline-primary btn-block" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

