{% extends 'base/base.html' %}
{% block encabezado %}
{%load staticfiles%}
{% if val %}


<nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button class="btn btn-primary d-md-none rounded-circle mr-3" id="sidebarToggleTop">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Dropdown - Messages -->
        <div aria-labelledby="searchDropdown"
             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
            <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                    <input aria-describedby="basic-addon2" aria-label="Search"
                           class="form-control bg-light border-0 small"
                           placeholder="Search for..." type="text">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#"
               id="userDropdown" role="button">
                <span class="mr-2 d-none d-lg-inline small initialism">{{usuario_temporal.temp}}</span>
                <img class="img-profile rounded-circle"
                     src="../../static/media/user.jpg">
            </a>
            <!-- Dropdown - User Information -->
            <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Configurar mi cuenta
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal"
                   href="{% url 'Academico:logout' %}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar Sesion
                </a>
            </div>
        </li>

    </ul>
</nav>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancelar</button>
                <a class="btn btn-primary" href="{% url 'Academico:logout' %}">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</div>
{% else %}

<title>Editar Estudiante</title>
{% endif %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido_principal %}
<form method="POST" action="{% url 'Academico:editar_estudiante' m.id_persona  %}">
    {% csrf_token %}
    <br>
    <div class="container">
        <div class="row">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <div class="col">

                <header class="cuadro_titulo rounded">
                    {% if not val %}
                    <h4 class="titulo text-center">Mantenimiento | Editar Estudiante</h4>
                    {% endif %}

                    <h4 class="titulo text-center">Ficha de matricula</h4>
                </header>
                <br>
                <!-- SECCION DATOS DE CURSO DEL ESTUDIANTE -->
                <div class="row pb-4 border-bottom-primary">
                        <div class="col-3">
                            <label for="c1">Jornada</label>
                            <input type="text" id="c1" class="form-control" value="{% if jornada_estudiante %}{{ jornada_estudiante }}{% else %}No Tiene jornada{% endif %}" disabled="disabled">
                        </div>
                        <div class="col-6">
                            <label for="c1">Curso</label>
                            <input type="text" id="c1" class="form-control" value="{% if curso_estudiante %}{{ curso_estudiante }}{% else %}No Tiene curso{% endif %}" disabled="disabled">
                        </div>
                        <div class="col-3">
                            <label for="c1">Paralelo</label>
                            <input type="text" class="form-control" value="{% if paralelo_estudiante %}{{ paralelo_estudiante }}{% else %}No tiene paralelo{% endif %}" disabled="disabled">
                        </div>
                </div>
                <!-- ------------------------------------ -->
                <br>
                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-info1-tab" data-toggle="pill" href="#pills-info1" role="tab" aria-controls="pills-info1" aria-selected="true">Informacion Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info2-tab" data-toggle="pill" href="#pills-info2" role="tab" aria-controls="pills-info2" aria-selected="false">Salud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info3-tab" data-toggle="pill" href="#pills-info3" role="tab" aria-controls="pills-info3" aria-selected="false">Informacion Familiares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info4-tab" data-toggle="pill" href="#pills-info4" role="tab" aria-controls="pills-info4" aria-selected="false">Informacion Representante</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-info1" role="tabpanel" aria-labelledby="pills-info1-tab">
                        <div class="row">
                            <h1 style="color: #2e59d9;display: flex;justify-content: center;font-weight: bold;">Datos Del Estudiante</h1>
                            {% if not val %}
                            <div class="col-4" style="display: flex;justify-content: center;font-weight: bold;color: #0f0f0f"> {{form.cod_alfnum|as_crispy_field}}</div>
                            {% endif %}


                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>

                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">

                                <div style="color: red;">{{form.nombres|as_crispy_field}} </div>
                                {{form.fecha_de_nacimiento|as_crispy_field}}
                                {{form.lugar_nacimiento|as_crispy_field}}
                                {{form.id_genr_etnia|as_crispy_field}}
                                {{form.id_genr_pais|as_crispy_field}}
                                {{form.nacionalidadEst|as_crispy_field}}
                                {{form.direccion|as_crispy_field}}

                            </div>

                             <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">

                                <div style="color: red;">{{form.apellidos|as_crispy_field}}</div>
                                {{form.edadEst|as_crispy_field}}
                                {{form.id_genr_tipo_sangre|as_crispy_field}}
                                {{form.id_genr_idioma_ancestral|as_crispy_field}}
                                {{form.id_genr_provincia|as_crispy_field}}
                                {{form.id_genr_categoria_migratoria|as_crispy_field}}
                                {{form.referenciadeubicacion|as_crispy_field}}
                                {{form.plantel_procedenciaEst|as_crispy_field}}


                             </div>
                             <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                <div style="color: red;">{{form.id_genr_genero|as_crispy_field}}</div>
                                {{form.correo_elest|as_crispy_field}}
                                {{form.id_genr_indigena|as_crispy_field}}
                                {{form.id_genr_ciudad|as_crispy_field}}
                                {{form.sector|as_crispy_field}}
                                {{form.celular|as_crispy_field}}
                                {{form.telefono|as_crispy_field}}

                            </div>
                        </div>
                        <div class="text-center">
                                <br>
                            {% if not val %}
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                        </div>

                    </div>
                    <div name="estudiante" class="tab-pane fade" id="pills-info2" role="tabpanel" aria-labelledby="pills-info2-tab">
                        <div class="row">
                                                        <h1 style="color: #2e59d9;font-weight: bold;">Datos Del Estudiante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.discapacidad|as_crispy_field}}
                                {{form.discapacidad_renal|as_crispy_field}}
                                {{form.discapacidad_neurologica|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.enfermedad_alergica|as_crispy_field}}
                                {{form.asma|as_crispy_field}}
                                {{form.epilepsia|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.enfermedad_congenita|as_crispy_field}}
                                {{form.enfermedad_respiratoria|as_crispy_field}}
                                {{form.atencion_psicologica|as_crispy_field}}
                            </div>
                        </div>
                        <div class="text-center">
                                <br>
                            {% if not val %}
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-info3" role="tabpanel" aria-labelledby="pills-info3-tab">
                        <div class="row">
                            <h1 style="color: #2e59d9;font-weight: bold;">Datos Del Padre</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">

                                {{form.pnombres|as_crispy_field}}
                                {{form.fecha_nacimientoPap|as_crispy_field}}
                                {{form.paisPap|as_crispy_field}}
                                {{form.ptelefono|as_crispy_field}}

                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.papellidos|as_crispy_field}}
                                {{form.edadPap|as_crispy_field}}
                                {{form.ciudadPap|as_crispy_field}}
                                {{form.correo_elPap|as_crispy_field}}
                            </div>

                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.pidentificacion|as_crispy_field}}
                                {{form.generoPap|as_crispy_field}}
                                {{form.pdireccion|as_crispy_field}}
                                {{form.pvive_con_usted|as_crispy_field}}
                            </div>



                                <h1 style="color: #2e59d9; font-weight: bold;">Datos De La Madre</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.mnombres|as_crispy_field}}
                                {{form.fecha_nacimientoMa|as_crispy_field}}
                                {{form.paisMam|as_crispy_field}}
                                {{form.mtelefono|as_crispy_field}}

                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.mapellidos|as_crispy_field}}
                                {{form.edadMam|as_crispy_field}}
                                {{form.ciudadMam|as_crispy_field}}
                                {{form.correo_elMam|as_crispy_field}}
                            </div>

                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.midentificacion|as_crispy_field}}
                                {{form.generoMam|as_crispy_field}}
                                {{form.mdireccion|as_crispy_field}}
                                {{form.mvive_con_usted|as_crispy_field}}
                            </div>
                             <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">

                                {{form.id_genr_estado_laboralp|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.id_genr_estado_laboralm|as_crispy_field}}

                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.bono_solidario|as_crispy_field}}
                            </div>
                        </div>
                        <div class="text-center">
                                <br>
                            {% if not val %}
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-info4" role="tabpanel" aria-labelledby="pills-info4-tab">
                        <div class="row">
                                                                                    <h1 style="color: #2e59d9;font-weight: bold;">Datos Del Representante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                             <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.rnombres|as_crispy_field}}
                                {{form.fecha_nacimientoRe|as_crispy_field}}
                                {{form.rcorreo|as_crispy_field}}
                                {{form.rtelefono|as_crispy_field}}
                                {{form.paisRe|as_crispy_field}}
                                {{form.id_genr_tipo_identificacion|as_crispy_field}}
                                {{form.lugardetrabajoRe|as_crispy_field}}

                            </div>
                             <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.rapellidos|as_crispy_field}}

                                {{form.edadRe|as_crispy_field}}
                                {{form.tipo_parentesco|as_crispy_field}}
                                {{form.rvive_con_usted|as_crispy_field}}
                                {{form.ciudadRe|as_crispy_field}}
                                {{form.profesionRe|as_crispy_field}}
                                {{form.rdireccion_trabajo|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f;text-transform: uppercase">
                                {{form.ridentificacion|as_crispy_field}}
                                {{form.rtelefono_trabajo|as_crispy_field}}
                                {{form.generoRe|as_crispy_field}}

                                {{form.mienbros_hogar|as_crispy_field}}
                                {{form.direccionRe|as_crispy_field}}
                                {{form.rhorario_laboral|as_crispy_field}}

                            </div>

                        </div>
                        <div class="text-center">
                                <br>
                                <button type="submit"  class="btn btn-primary"  onclick="alertar()" >Guardar Datos</button>

                            {% if not val %}
                            <button type="submit"  class="btn btn-primary">Guardar</button>
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
</form>

{% endblock contenido_principal%}

{% block footer %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        Swal.fire({
      title: '¡AVISO! ¡CAMPOS ROJOS SON OBLIGATORIOS!',
      text:  '¡Recuerda Guardar Datos Antes de Imprimir!'
    })
        function aler(){
            Swal.fire({
      title: '¡Datos Guardados!',

    })
        }

        function alertar (){
            Swal.fire({
      title: '¡Por Favor Espere!',
      text:  '¡Guardando Datos!'
    })
        }

        function alertar2 (){
            Swal.fire({
      title: '¡Salistes Del Sistema!'
    })
        }

    </script>
{% endblock footer %}
