{% extends 'base/base.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}

    <title>Registro Empleado</title>

{% endblock encabezado %}
{% block footer %}
{% endblock footer %}
{% block contenido_principal%}
{% load crispy_forms_tags %}
<form method="POST" action="#">
{% csrf_token %}
    <br>
            <div class="container">
            <div class="row">
            <div class="col">
                {% if error %}
            <h2>{{ error }}</h2>
                {% else %}
                <header class="cuadro_titulo rounded">
                    <h4 class="titulo text-center">Mantenimiento | Registrar Empleado</h4>
                </header>
                <br>
                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-info1-tab" data-toggle="pill" href="#pills-info1" role="tab" aria-controls="pills-info1" aria-selected="true">Informacion Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info2-tab" data-toggle="pill" href="#pills-info2" role="tab" aria-controls="pills-info2" aria-selected="false">Salud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info3-tab" data-toggle="pill" href="#pills-info3" role="tab" aria-controls="pills-info3" aria-selected="false">Datos Familiar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info4-tab" data-toggle="pill" href="#pills-info4" role="tab" aria-controls="pills-info4" aria-selected="false">Otros</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-info1" role="tabpanel" aria-labelledby="pills-info1-tab">
                        <div class="row">
                            <div class="col-4">
                                {{form.nombres|as_crispy_field}}
                                {{form.apellidos|as_crispy_field}}
                                {{form.fecha_de_nacimiento|as_crispy_field}}
                                {{form.lugar_nacimiento|as_crispy_field}}
                                {{form.id_genr_genero|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.id_genr_tipo_identificacion|as_crispy_field}}
                                {{form.id_genr_pais|as_crispy_field}}
                                {{form.id_genr_provincia|as_crispy_field}}
                                {{form.id_genr_ciudad|as_crispy_field}}
                                {{form.id_genr_tipo_sangre|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.identificacion|as_crispy_field}}
                                {{form.id_genr_etnia|as_crispy_field}}
                                {{form.id_genr_jornada|as_crispy_field}}
                                {{form.id_genr_indigena|as_crispy_field}}
                                {{form.id_genr_idioma_ancestral|as_crispy_field}}
                            </div>
                        </div>
                        <div align="center">
                                <br>
                                <button type="reset" class="btn btn-info">Restablecer</button>
                                <a class="btn btn-danger" href="{% url 'Academico:empleado' %}">Cancelar</a>
                                <a class="btn btn-primary" href="#">>>></a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-info2" role="tabpanel" aria-labelledby="pills-info2-tab">
                        <div class="row">
                            <div class="col-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">{{form.discapacidad.label}}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">{{form.discapacidad_renal.label}}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">{{form.discapacidad_neurologica.label}}</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">{{form.enfermedad_alergica.label}}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">{{form.asma.label}}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6">{{form.epilepsia.label}}</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7">{{form.enfermedad_congenita.label}}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                                    <label class="custom-control-label" for="customCheck8">{{form.enfermedad_respiratoria.label}}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <br>
                                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                                    <label class="custom-control-label" for="customCheck9">{{form.atencion_psicologica.label}}</label>
                                </div>
                            </div>
                        </div>
                        <div align="center">
                                <br>
                                <a class="btn btn-primary" href="#"><<<</a>
                                <button type="reset" class="btn btn-info">Restablecer</button>
                                <a class="btn btn-danger" href="{% url 'Academico:empleado' %}">Cancelar</a>
                                <a class="btn btn-primary" href="#">>>></a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-info3" role="tabpanel" aria-labelledby="pills-info3-tab">
                        <div class="row">
                            <div class="col-4">
                                {{form.pvive_con_usted|as_crispy_field}}
                                {{form.pnombres|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.papellidos|as_crispy_field}}
                                {{form.pidentificacion|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.pdireccion|as_crispy_field}}
                                {{form.ptelefono|as_crispy_field}}
                            </div>
                        </div>
                        <div align="center">
                                <br>
                                <a class="btn btn-primary" href="#"><<<</a>
                                <button type="reset" class="btn btn-info">Restablecer</button>
                                <a class="btn btn-danger" href="{% url 'Academico:empleado' %}">Cancelar</a>
                                <a class="btn btn-primary" href="#">>>></a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-info4" role="tabpanel" aria-labelledby="pills-info4-tab">
                        <div class="row">
                            <div class="col-4">
                                {{form.id_genr_tipo_usuario|as_crispy_field}}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                                    <label class="custom-control-label" for="customCheck10">{{form.bono_solidario.label}}</label>
                                </div>
                            </div>
                            <div class="col-4">
                                {{form.id_genr_categoria_migratoria|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.mienbros_hogar|as_crispy_field}}
                            </div>
                        </div>
                        <div align="center">
                                <br>
                                <a class="btn btn-primary" href="#"><<<</a>
                                <button type="reset" class="btn btn-info">Restablecer</button>
                                <a class="btn btn-danger" href="{% url 'Academico:empleado' %}">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
</form>
{% endif %}
{% endblock contenido_principal%}