<div class="modal-dialog modal-lg-4" role="document">
    <div class="modal-content">
        <form action="{% url 'Academico:eliminar_estudiante' estudiante.id_persona %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <header class="cuadro_titulo bg-danger">
                    <h4 class="titulo">Eliminar</h4>
                </header>

                <div class="contenido text-dark">
                    Esta seguro que deseas eliminar este estudiante ?<br><br>
                    Nombre del estudiante: <label>{{ estudiante.nombres }}</label><br>
                    Apellido del estudiante: <label>{{ estudiante.apellidos }}</label><br>
                    Numero de Identificacion: <label>{{ estudiante.identificacion }}</label><br>
                    <div class="botones">
                        <br/>
                        <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                        <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
