{% extends 'base/base.html' %}
{% block encabezado %}
    <title>Registrar Empleado</title>
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% block footer %}

{% endblock footer %}
{% block titulo_cab_menu %}

{%endblock titulo_cab_menu %}
{% load crispy_forms_tags %}

 {% block contenido_principal %}
    {% csrf_token %}
        <form>
            <br>
            <br>
            <div class="container">
            <div class="row">
            <div class="col">
                {% if error %}
            <h2>{{ error }}</h2>
                {% else %}
                <header class="cuadro_titulo">
                    <h4 class="titulo text-center">Configuracion | Registrar Empleado</h4>
                </header>
                <br><br>
                    <form action="#" enctype="multipart/form-data" class="form-horizontal" method="post">
                        <div class="col-sm-6">
                        {{form|crispy}}
                        </div>
			            <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary">Registrar</button>
                            <button type="reset" class="btn btn-outline-info">Restablecer</button>
                                <a class="btn btn-outline-danger" href="{% url 'Academico:mantenimiento' %}">Cancelar</a>
                        </div>
  			        </form>
            </div>
            </div>
            </div>
        </form>
    {% endif %}
{% endblock contenido_principal %}