{% extends 'base/base.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}

    <title>Registro Estudiante</title>

{% endblock encabezado %}
{% block footer %}
{% endblock footer %}
{% block contenido_principal%}
{% load crispy_forms_tags %}
<form method="POST" action="#">
{% csrf_token %}
            <br>
            <br>
            <div class="container">
            <div class="row">
            <div class="col">
                {% if error %}
            <h2>{{ error }}</h2>
                {% else %}
                {% endif %}
                <header class="cuadro_titulo">
                    <h4 class="titulo text-center">Mantenimiento | Registrar Estudiante</h4>
                </header>

                <br><br>

                <div action="#" enctype="multipart/form-data" class="form-horizontal ">

                <div class="row">

                    <div class="col-6">
                    <label for="nombres" class="text-dark h6">{{form.nombres.label }} :</label>
               {{form.nombres}}<br>
                        <label for="apellidos" class="text-dark h6">{{form.apellidos.label }} :</label>
               {{form.apellidos}}<br>
                       <label for="fecha_de_nacimiento" class="text-dark h6">{{form.fecha_de_nacimiento.label }} :</label>
               {{form.fecha_de_nacimiento}}<br>

               {{form.id_genr_genero|as_crispy_field}}<br>

               {{form.id_genr_pais|as_crispy_field}}<br>
                        <label for="lugar_nacimiento" class="text-dark h6">{{form.lugar_nacimiento.label }} :</label>
               {{form.lugar_nacimiento}}<br>

               {{form.id_genr_provincia|as_crispy_field}}<br>

               {{form.id_genr_categoria_migratoria|as_crispy_field}}<br>

                </div>


                    <div class="col-6">
                        <label for="identificacion" class="text-dark h6">{{form.identificacion.label }} :</label>
               {{form.identificacion}}<br>

               {{form.id_genr_tipo_sangre|as_crispy_field}}<br>

               {{form.id_genr_etnia|as_crispy_field}}<br>

               {{form.id_genr_jornada|as_crispy_field}}<br>

               {{form.id_genr_indigena|as_crispy_field}}<br>

               {{form.id_genr_idioma_ancestral|as_crispy_field}}<br>

               {{form.id_genr_ciudad|as_crispy_field}}<br>




                    </div>
                </div>

                    </div>
                    <div class="cuadro_titulo row">
                     <h3 class="titulo text-center ">EN CASO DE EMERGENCIA</h3>

                    </div>
                    <div class="row">
                        <div class="col">
                            <br>
                            <label for="discapacidad" class="text-dark h6">{{form.discapacidad.label }} :</label>
               {{form.discapacidad}}<br>
                            <label for="discapacidad_renal" class="text-dark h6">{{form.discapacidad_renal.label }} :</label>
               {{form.discapacidad_renal}}<br>
                            <label for="discapacidad_neurologica" class="text-dark h6">{{form.discapacidad_neurologica.label }} :</label>
               {{form.discapacidad_neurologica}}<br>
                            <label for="enfermedad_alergica" class="text-dark h6">{{form.enfermedad_alergica.label }} :</label>
               {{form.enfermedad_alergica}}<br>
                            <label for="asma" class="text-dark h6">{{form.asma.label }} :</label>
               {{form.asma}}<br>


                        </div>

                        <div class="col">
                            <br>
                            <label for="epilepsia" class="text-dark h6">{{form.epilepsia.label }} :</label>
               {{form.epilepsia}}<br>
                            <label for="enfermedad_congenita" class="text-dark h6">{{form.enfermedad_congenita.label }} :</label>
               {{form.enfermedad_congenita}}<br>
                            <label for="enfermedad_respiratoria" class="text-dark h6">{{form.enfermedad_respiratoria.label }} :</label>
               {{form.enfermedad_respiratoria}}<br>
                            <label for="atencion_psicologica" class="text-dark h6">{{form.atencion_psicologica.label }} :</label>
               {{form.atencion_psicologica}}<br>
                        </div>

                    </div>
                    <br>
                    <div class="cuadro_titulo row">
                     <h3 class="titulo text-center ">OTROS</h3>

                    </div>
                <div class="row">
                    <div class="col">
                        <br><br>
                         <label for="bono_solidario" class="text-dark h6">{{form.bono_solidario.label }} :</label>
               {{form.bono_solidario}}<br>
                    </div>
                    <div class="col">
                        <br>
                        <label for="mienbros_hogar" class="text-dark h6">{{form.mienbros_hogar.label }} :</label>
               {{form.mienbros_hogar}}<br>
                    </div>

                </div>
                <div class="row">
                     <div class="col">
                        <br>


                         <label for="mvive_con_usted" class="text-dark h6">{{form.mvive_con_usted.label }} :</label>
               {{form.mvive_con_usted}}<br>
                         <label for="mnombres" class="text-dark h6">{{form.mnombres.label }} :</label>
               {{form.mnombres}}<br>
                         <label for="mapellidos" class="text-dark h6">{{form.mapellidos.label }} :</label>
               {{form.mnombres}}<br>
                         <label for="midentificacion" class="text-dark h6">{{form.midentificacion.label }} :</label>
               {{form.midentificacion}}<br>
                         <label for="mdireccion" class="text-dark h6">{{form.mdireccion.label }} :</label>
               {{form.mdireccion}}<br>
                         <label for="mtelefono" class="text-dark h6">{{form.mtelefono.label }} :</label>
               {{form.mtelefono}}<br>

                        </div>


                    <div class="col">
                        <br>
                        <label for="pvive_con_usted" class="text-dark h6">{{form.pvive_con_usted.label }} :</label>
               {{form.pvive_con_usted}}<br>
                        <label for="pnombres" class="text-dark h6">{{form.pnombres.label }} :</label>
               {{form.pnombres}}<br>
                        <label for="papellidos" class="text-dark h6">{{form.papellidos.label }} :</label>
               {{form.papellidos}}<br>
                        <label for="pidentificacion" class="text-dark h6">{{form.pidentificacion.label }} :</label>
               {{form.pidentificacion}}<br>
                        <label for="pdireccion" class="text-dark h6">{{form.pdireccion.label }} :</label>
               {{form.pdireccion}}<br>
                        <label for="mtelefono" class="text-dark h6">{{form.mtelefono.label }} :</label>
               {{form.mtelefono}}<br>
                        </div>



                </div>
            <div class="cuadro_titulo row">
                     <h3 class="titulo text-center ">DATOS DEL REPRESENTANTE</h3>


                    </div>

                <div class="row">
                    <div class="col">
                        <br>
                        <label for="rvive_con_usted" class="text-dark h6">{{form.rvive_con_usted.label }} :</label>
               {{form.rvive_con_usted}}<br>
                        <label for="rnombres" class="text-dark h6">{{form.rnombres.label }} :</label>
               {{form.rnombres}}<br>
                        <label for="rapellidos" class="text-dark h6">{{form.rapellidos.label }} :</label>
               {{form.rapellidos}}<br>
                        <label for="ridentificacion" class="text-dark h6">{{form.ridentificacion.label }} :</label>
               {{form.ridentificacion}}<br>
                        <label for="rtelefono" class="text-dark h6">{{form.rtelefono.label }} :</label>
               {{form.ridentificacion}}<br>


                        <label for="rdireccion_trabajo" class="text-dark h6">{{form.rdireccion_trabajo.label }} :</label>
               {{form.rdireccion_trabajo}}<br>
                        <label for="rhorario_laboral" class="text-dark h6">{{form.rhorario_laboral.label }} :</label>
               {{form.rhorario_laboral}}<br>
                        <label for="rtelefono_trabajo" class="text-dark h6">{{form.rtelefono_trabajo.label }} :</label>
               {{form.rtelefono_trabajo}}<br>
                         </div>





                    </div>





                </div>





</div>
                    </div>





                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
                    <button type="reset" class="btn btn-outline-info">Restablecer</button>
                    <a class="btn btn-outline-danger" href="{% url 'Academico:mantenimiento' %}">Cancelar edicion</a>
                </div>
</form>
            </div>
            </div>
            </div>
        </form>

{% endblock contenido_principal%}