<div class="modal-dialog modal-lg-4" role="document">

    <div class="modal-content">

        <div class="contenido">

            <form action="{% url 'Academico:eliminar_empleado' empleado.id_persona %}" method="POST"> {% csrf_token %}

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Eliminar</h6>
                    </div>

                    <div class="card-body">
                        Esta seguro que deseas eliminar este empleado ?<br><br>
                        Nombre del empleado: <label>{{ empleado.nombres }}</label><br>
                        Apellido del empleado: <label>{{ empleado.apellidos }}</label><br>
                        Numero de Identificacion: <label>{{ empleado.identificacion }}</label><br>

                        <div class="botones">
                            <br/>
                            <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                            <a class="btn btn-outline-primary" href="{% url 'Academico:empleado' %}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

