{% extends 'base/base.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}

    <title>Registro Estudiante</title>

{% endblock encabezado %}
{% block footer %}
{% endblock footer %}
{% block contenido_principal%}
{% load crispy_forms_tags %}
<form method="POST" action="#">
{% csrf_token %}
            <br>
            <div class="container">
            <div class="row">
            {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
            <div class="col">
                <header class="cuadro_titulo rounded">
                    <h4 class="titulo text-center">Mantenimiento | Registrar Estudiante</h4>
                </header>
                <br>

                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-info1-tab" data-toggle="pill" href="#pills-info1" role="tab" aria-controls="pills-info1" aria-selected="true">Informacion Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info2-tab" data-toggle="pill" href="#pills-info2" role="tab" aria-controls="pills-info2" aria-selected="false">Salud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info3-tab" data-toggle="pill" href="#pills-info3" role="tab" aria-controls="pills-info3" aria-selected="false">Informacion Familiares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info4-tab" data-toggle="pill" href="#pills-info4" role="tab" aria-controls="pills-info4" aria-selected="false">Informacion Representante</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-info1" role="tabpanel" aria-labelledby="pills-info1-tab">
                        <div class="row">
                                                       <h1 style="color: #2e59d9;display: flex;justify-content: center;font-weight: bold;">Datos Del Estudiante:</h1>
                            <div class="col-4" style="display: flex;justify-content: center;font-weight: bold;color: #0f0f0f"> {{form.cod_alfnum|as_crispy_field}}</div>

                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>

                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">

                                {{form.nombres|as_crispy_field}}
                                {{form.fecha_de_nacimiento|as_crispy_field}}
                                {{form.lugar_nacimiento|as_crispy_field}}
                                {{form.id_genr_etnia|as_crispy_field}}
                                {{form.id_genr_pais|as_crispy_field}}
                                {{form.nacionalidadEst|as_crispy_field}}
                                {{form.direccion|as_crispy_field}}

                            </div>

                             <div class="col-4" style="font-weight: bold;color: #0f0f0f">

                                {{form.apellidos|as_crispy_field}}
                                {{form.edadEst|as_crispy_field}}
                                {{form.id_genr_tipo_sangre|as_crispy_field}}
                                {{form.id_genr_idioma_ancestral|as_crispy_field}}
                                {{form.id_genr_provincia|as_crispy_field}}
                                {{form.id_genr_categoria_migratoria|as_crispy_field}}
                                {{form.referenciadeubicacion|as_crispy_field}}
                                {{form.plantel_procedenciaEst|as_crispy_field}}


                             </div>
                             <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.identificacion|as_crispy_field}}
                                {{form.id_genr_genero|as_crispy_field}}
                                {{form.correo_elest|as_crispy_field}}
                                {{form.id_genr_indigena|as_crispy_field}}
                                {{form.id_genr_ciudad|as_crispy_field}}
                                {{form.sector|as_crispy_field}}
                                {{form.celular|as_crispy_field}}
                                {{form.telefono|as_crispy_field}}

                            </div>
                        </div>
                        <div class="text-center">
                                <br>
                            {% if not val %}
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-info2" role="tabpanel" aria-labelledby="pills-info2-tab">
                        <div class="row">
                                                        <h1 style="color: #2e59d9;font-weight: bold;">Datos Del Estudiante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.discapacidad|as_crispy_field}}
                                {{form.discapacidad_renal|as_crispy_field}}
                                {{form.discapacidad_neurologica|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.enfermedad_alergica|as_crispy_field}}
                                {{form.asma|as_crispy_field}}
                                {{form.epilepsia|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.enfermedad_congenita|as_crispy_field}}
                                {{form.enfermedad_respiratoria|as_crispy_field}}
                                {{form.atencion_psicologica|as_crispy_field}}
                            </div>
                        </div>
                        <div class="text-center">
                                <br>
                            {% if not val %}
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-info3" role="tabpanel" aria-labelledby="pills-info3-tab">
                        <div class="row">
                            <h1 style="color: #2e59d9;font-weight: bold;">Datos Del Padre</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">

                                {{form.pnombres|as_crispy_field}}
                                {{form.fecha_nacimientoPap|as_crispy_field}}
                                {{form.paisPap|as_crispy_field}}
                                {{form.ptelefono|as_crispy_field}}

                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.papellidos|as_crispy_field}}
                                {{form.edadPap|as_crispy_field}}
                                {{form.ciudadPap|as_crispy_field}}
                                {{form.correo_elPap|as_crispy_field}}
                            </div>

                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.pidentificacion|as_crispy_field}}
                                {{form.generoPap|as_crispy_field}}
                                {{form.pdireccion|as_crispy_field}}
                                {{form.pvive_con_usted|as_crispy_field}}
                            </div>



                                <h1 style="color: #2e59d9; font-weight: bold;">Datos De La Madre</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.mnombres|as_crispy_field}}
                                {{form.fecha_nacimientoMa|as_crispy_field}}
                                {{form.paisMam|as_crispy_field}}
                                {{form.mtelefono|as_crispy_field}}

                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.mapellidos|as_crispy_field}}
                                {{form.edadMam|as_crispy_field}}
                                {{form.ciudadMam|as_crispy_field}}
                                {{form.correo_elMam|as_crispy_field}}
                            </div>

                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.midentificacion|as_crispy_field}}
                                {{form.generoMam|as_crispy_field}}
                                {{form.mdireccion|as_crispy_field}}
                                {{form.mvive_con_usted|as_crispy_field}}
                            </div>
                             <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">

                                {{form.id_genr_estado_laboralp|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.id_genr_estado_laboralm|as_crispy_field}}

                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.bono_solidario|as_crispy_field}}
                            </div>
                        </div>
                        <div class="text-center">
                                <br>
                            {% if not val %}
                            <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-info4" role="tabpanel" aria-labelledby="pills-info4-tab">
                        <div class="row">
                                                                                    <h1 style="color: #2e59d9;font-weight: bold;">Datos Del Representante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                             <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.rnombres|as_crispy_field}}
                                {{form.fecha_nacimientoRe|as_crispy_field}}
                                {{form.rcorreo|as_crispy_field}}
                                {{form.rtelefono|as_crispy_field}}
                                {{form.paisRe|as_crispy_field}}
                                {{form.id_genr_tipo_identificacion|as_crispy_field}}
                                {{form.lugardetrabajoRe|as_crispy_field}}

                            </div>
                             <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.rapellidos|as_crispy_field}}

                                {{form.edadRe|as_crispy_field}}
                                {{form.tipo_parentesco|as_crispy_field}}
                                {{form.rvive_con_usted|as_crispy_field}}
                                {{form.ciudadRe|as_crispy_field}}
                                {{form.profesionRe|as_crispy_field}}
                                {{form.rdireccion_trabajo|as_crispy_field}}
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #0f0f0f">
                                {{form.ridentificacion|as_crispy_field}}
                                {{form.rtelefono_trabajo|as_crispy_field}}
                                {{form.generoRe|as_crispy_field}}

                                {{form.mienbros_hogar|as_crispy_field}}
                                {{form.direccionRe|as_crispy_field}}
                                {{form.rhorario_laboral|as_crispy_field}}

                            </div>

                        </div>
                        <div class="text-center">
                                <br>

                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <button type="reset" class="btn btn-info">Restablecer</button>
                                <a class="btn btn-danger" href="{% url 'Academico:estudiante' %}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
</form>
{% endblock contenido_principal%}





