{% extends 'base/base.html' %}
{% block encabezado %}
    <title>Consultar Estudiante</title>
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido_principal %}
<form method="POST" action="{% url 'Academico:consultar_estudiante' m.id_persona  %}">
{% csrf_token %}
            <br>
            <div class="container">
            <div class="row">
            <div class="col">
                {% if error %}
            <h2>{{ error }}</h2>
                {% else %}
                {% endif %}
                <header class="cuadro_titulo rounded">
                    <h4 class="titulo text-center">Mantenimiento | Consultar Estudiante</h4>
                </header>
                <br>
                                <!-- SECCION DATOS DE CURSO DEL ESTUDIANTE -->
                <div class="row pb-4 border-bottom-primary">
                        <div class="col-3">
                            <label for="c1">Jornada</label>
                            <input type="text" id="c1" class="form-control" value="{% if jornada_estudiante %}{{ jornada_estudiante }}{% else %}No Tiene jornada{% endif %}" disabled="disabled">
                        </div>
                        <div class="col-6">
                            <label for="c1">Curso</label>
                            <input type="text" class="form-control" value="{% if curso_estudiante %}{{ curso_estudiante }}{% else %}No Tiene curso{% endif %}" disabled="disabled">
                        </div>
                        <div class="col-3">
                            <label for="c1">Paralelo</label>
                            <input type="text" class="form-control" value="{% if paralelo_estudiante %}{{ paralelo_estudiante }}{% else %}No tiene paralelo{% endif %}" disabled="disabled">
                        </div>
                </div>
                <!-- ------------------------------------ -->
                <br>
                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-info1-tab" data-toggle="pill" href="#pills-info1" role="tab" aria-controls="pills-info1" aria-selected="true">Informacion Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info2-tab" data-toggle="pill" href="#pills-info2" role="tab" aria-controls="pills-info2" aria-selected="false">Salud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info3-tab" data-toggle="pill" href="#pills-info3" role="tab" aria-controls="pills-info3" aria-selected="false">Informacion Familiares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-info4-tab" data-toggle="pill" href="#pills-info4" role="tab" aria-controls="pills-info4" aria-selected="false">Informacion Representante</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-info1" role="tabpanel" aria-labelledby="pills-info1-tab">
                        <div class="row">
                           <h1 style="color: #2e59d9">Datos Del Estudiante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4">
                                {{form.nombres|as_crispy_field}}
                                {{form.fecha_de_nacimiento|as_crispy_field}}
                                {{form.lugar_nacimiento|as_crispy_field}}
                                {{form.id_genr_etnia|as_crispy_field}}
                                {{form.id_genr_pais|as_crispy_field}}
                                {{form.nacionalidadEst|as_crispy_field}}
                                {{form.direccion|as_crispy_field}}
                                {{form.telefono|as_crispy_field}}

                            </div>
                            <div class="col-4">
                                {{form.apellidos|as_crispy_field}}
                                {{form.edadEst|as_crispy_field}}
                                {{form.id_genr_tipo_sangre|as_crispy_field}}
                                {{form.id_genr_idioma_ancestral|as_crispy_field}}
                                {{form.id_genr_provincia|as_crispy_field}}
                                {{form.id_genr_categoria_migratoria|as_crispy_field}}
                                {{form.referenciadeubicacion|as_crispy_field}}
                                {{form.plantel_procedenciaEst|as_crispy_field}}


                            </div>
                            <div class="col-4">
                                {{form.identificacion|as_crispy_field}}
                                {{form.id_genr_genero|as_crispy_field}}
                                {{form.correo_elest|as_crispy_field}}
                                {{form.id_genr_indigena|as_crispy_field}}
                                {{form.id_genr_ciudad|as_crispy_field}}
                                {{form.sector|as_crispy_field}}
                                {{form.celular|as_crispy_field}}



                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="pills-info2" role="tabpanel" aria-labelledby="pills-info2-tab">
                        <div class="row">
                            <h1 style="color: #2e59d9">Datos Del Estudiante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4">
                                {{form.discapacidad|as_crispy_field}}
                                {{form.discapacidad_renal|as_crispy_field}}
                                {{form.discapacidad_neurologica|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.enfermedad_alergica|as_crispy_field}}
                                {{form.asma|as_crispy_field}}
                                {{form.epilepsia|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.enfermedad_congenita|as_crispy_field}}
                                {{form.enfermedad_respiratoria|as_crispy_field}}
                                {{form.atencion_psicologica|as_crispy_field}}
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="pills-info3" role="tabpanel" aria-labelledby="pills-info3-tab">
                        <div class="row">
                            <h1 style="color: #2e59d9">Datos Del Padre</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4">
                                {{form.pnombres|as_crispy_field}}
                                {{form.fecha_nacimientoPap|as_crispy_field}}
                                {{form.paisPap|as_crispy_field}}
                                {{form.ptelefono|as_crispy_field}}

                            </div>
                            <div class="col-4">
                                {{form.papellidos|as_crispy_field}}
                                {{form.edadPap|as_crispy_field}}
                                {{form.ciudadPap|as_crispy_field}}
                                {{form.correo_elPap|as_crispy_field}}
                            </div>

                            <div class="col-4">
                                {{form.pidentificacion|as_crispy_field}}
                                {{form.generoPap|as_crispy_field}}
                                {{form.pdireccion|as_crispy_field}}
                                {{form.pvive_con_usted|as_crispy_field}}
                            </div>



                                <h1 style="color: #2e59d9">Datos De La Madre</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4">
                                {{form.mnombres|as_crispy_field}}
                                {{form.fecha_nacimientoMa|as_crispy_field}}
                                {{form.paisMam|as_crispy_field}}
                                {{form.mtelefono|as_crispy_field}}

                            </div>
                            <div class="col-4">
                                {{form.mapellidos|as_crispy_field}}
                                {{form.edadMam|as_crispy_field}}
                                {{form.ciudadMam|as_crispy_field}}
                                {{form.correo_elMam|as_crispy_field}}
                            </div>

                            <div class="col-4">
                                {{form.midentificacion|as_crispy_field}}
                                {{form.generoMam|as_crispy_field}}
                                {{form.mdireccion|as_crispy_field}}
                                {{form.mvive_con_usted|as_crispy_field}}
                            </div>
                             <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4">

                                {{form.id_genr_estado_laboralp|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.id_genr_estado_laboralm|as_crispy_field}}

                            </div>
                            <div class="col-4">
                                {{form.bono_solidario|as_crispy_field}}
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="pills-info4" role="tabpanel" aria-labelledby="pills-info4-tab">
                        <div class="row">
                                                        <h1 style="color: #2e59d9">Datos Del Representante</h1>
                            <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                            <div class="col-4">
                                {{form.rnombres|as_crispy_field}}
                                {{form.fecha_nacimientoRe|as_crispy_field}}
                                {{form.rcorreo|as_crispy_field}}
                                {{form.rtelefono|as_crispy_field}}
                                {{form.paisRe|as_crispy_field}}
                                {{form.id_genr_tipo_identificacion|as_crispy_field}}
                                {{form.lugardetrabajoRe|as_crispy_field}}

                            </div>
                            <div class="col-4">
                                {{form.rapellidos|as_crispy_field}}

                                {{form.edadRe|as_crispy_field}}
                                {{form.tipo_parentesco|as_crispy_field}}
                                {{form.rvive_con_usted|as_crispy_field}}
                                {{form.ciudadRe|as_crispy_field}}
                                {{form.profesionRe|as_crispy_field}}
                                {{form.rdireccion_trabajo|as_crispy_field}}
                            </div>
                            <div class="col-4">
                                {{form.ridentificacion|as_crispy_field}}
                                {{form.rtelefono_trabajo|as_crispy_field}}
                                {{form.generoRe|as_crispy_field}}

                                {{form.mienbros_hogar|as_crispy_field}}
                                {{form.direccionRe|as_crispy_field}}
                                {{form.rhorario_laboral|as_crispy_field}}

                            </div>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <br>
                    <a class="btn btn-info" href="{% url 'Academico:estudiante' %}">Volver</a>
                </div>
            </div>
            </div>
            </div>
</form>
{% endblock contenido_principal%}


{% block footer %}
{% endblock footer %}