{% extends 'sistemaAcademico/inicio.html' %}

	{% block contenido_principal %}

<header>
<h4 class="cuadro_titulo">NUEVO ROL</h4>
</header>


     <br/><br/>
     <form>
         <div class="contenido_uno">
         <label>Codigo</label>
<input type="text" class="cajatexto"> <br/><br/>
<label>Nombre</label>
<input type="text"  contenteditable="FALSE" class="cajatexto"> <br/><br/>
<input type="submit" id="add_rol_guardar"  value="Guardar" class="btn btn-success">
<input type="button" id="add_rol_cancelar" value="Cancelar" class="btn btn-warning">

     </div>
     </form>


{% endblock contenido_principal %}