{% extends 'base/base.html' %}
{% load staticfiles %}
{% block sidebar %}
{% endblock sidebar %}
{% block encabezado %}
{% endblock encabezado %}
{% block extracss %}

<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock extracss %}

{% block contenido_principal %}

<header class="cuadro_titulo text-center bg-gradient-primary">
  <h4 class="title text-light"> Configuracion | Rol </h4>
</header>
<br />
  {% for m in permisos %}
    {% for acciones in agregar %}
        {% if m.descripcion == acciones.descripcion and acciones.url == 'Academico:roles' %}
            <button id="registrar" onclick="modal('{% url 'Academico:nuevo_rol' %}')" class="text-light btn bg-gradient-primary">Agregar
                <span class="glyphicon glyphicon-plus"></span></button>
            <br /><br/>
        {% endif %}
    {% endfor %}    
  {% endfor %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Roles disponibles en el sistema</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dtBasicExample" cellspacing="0">
        <thead class="bg-gradient-primary">
          <tr class="text-light text-center">
            <th>#</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for m in roles %}
          <tr class="text-center" style="border-width:3px;">
            <td class="text-dark" style="border-width:1px;">{{m.id_rol}}</td>
            <td>{{m.codigo}}</td>
            <td>{{m.nombre}}</td>
            <td>

              {% for mp in permisos %}
                {% for acciones in editar %}
                    {% if mp.descripcion == acciones.descripcion and acciones.url == 'Academico:roles' %}
                        <button onclick="modal('{% url 'Academico:editar_rol' m.id_rol %}')" class="btn text-light bg-gradient-primary"
                        title="Editar {{m.descripcion}}">
                        <i class="fas fa-info-circle"></i></button>
                    {% endif %}
                {% endfor %}    

                {% for acciones in eliminar %}
                    {% if mp.descripcion == acciones.descripcion and acciones.url == 'Academico:roles' %}
                        <button onclick="modal('{% url 'Academico:eliminar_rol' m.id_rol %}')" class="btn text-light bg-gradient-danger"
                        title="Editar {{m.descripcion}}">
                        <i class="fas fa-exclamation-triangle"></i></button>
                    {% endif %}
                {% endfor %}    
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>



{% endblock contenido_principal %}


{% block extrajs %}
<div class="modal fade" id="mostrar_modal" role="dialog">


</div>





{% endblock extrajs %}