{% extends 'base/base.html' %}
{% load staticfiles %}
{% block sidebar %}
{% endblock sidebar %}
{% block encabezado %}
{% endblock encabezado %}
{% block extracss %}

<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock extracss %}

{% block contenido_principal %}

<header class="cuadro_titulo text-center "> <h4 class="title text-light"> Configuracion | Rol </h4></header>
                          <br/>
                          <button id="registrar" onclick="modal('{% url 'Academico:nuevo_rol' %}')" class="btn btn-primary">Agregar un nuevo rol <span class="glyphicon glyphicon-plus"></button>
                          <br/><br/>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Roles disponibles en el sistema</h6>
            </div>
            <div class="card-body ">
              <div class="table-responsive">
                <table class="table table-bordered table-hover"  id="dtBasicExample" width="100%" cellspacing="0" data-sort='false' data-page-length='5'>
                  <thead class="bg-primary">
                    <tr class="text-light text-center" >
                      <th>#</th>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                   <tbody>
                    {% for m in roles %}
                        <tr class="text-center" style="border-width:3px;">
                          <td class="text-dark" style="border-width:1px;">{{m.id_rol}}</td>
                          <td>{{m.codigo}}</td>
                          <td>{{m.nombre}}</td>
                          <td>
                            <button onclick="modal('{% url 'Academico:editar_rol' m.id_rol %}')" class="btn btn-primary" title="Editar {{m.descripcion}}">
                              <i class="fas fa-info-circle"></i>Editar</button>
                            <button onclick="modal('{% url 'Academico:eliminar_rol' m.id_rol %}')" class="btn btn-info btn-danger" title="Editar {{m.descripcion}}">
                              <i class="fas fa-warning-circle"></i>Eliminar</button>
                        </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>



{% endblock contenido_principal %}


{% block extrajs %}
<div class="modal fade" id="mostrar_modal" role="dialog">


</div>

  <script type="text/javascript">
 $(document).ready(function () {
    $('#dtBasicExample').DataTable({
        "searching": true,
        "ordering": false,
        "language": {
            "lengthMenu": "Mostrar _MENU_ por página",
            "zeroRecords": "Sin datos",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        }
    });

    $('.dataTables_length').addClass('bs-select');
});
  </script>

<script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock extrajs %}


