{% extends 'sistemaAcademico/inicio.html' %}

{% block contenido_principal %}
<header class="cuadro_titulo">
		<h4 class="titulo">Configuracion / Registrar Usuario</h4>
</header>
    <br>
    <form class="formulario" method="POST" >{% csrf_token %}
        <br>
        {% if error %}
        <label ><strong>{{error}}</strong></label>
        {% endif %}
        <label class="texto">
            Nombre de Usuario:
        </label>
            <input type="text" class="cajatexto" placeholder="" required="true" name="usuario">
        </br>
        <label class="texto">
            Contraseña:
        </label>
            <input type="password" class="cajatexto" pattern=".{6,}" name="contrasenia" required="true">
        </br>
        <label class="texto">
            Confirmar Contraseña:
        </label>

            <input type="password" class="cajatexto" pattern=".{6,}" name="contrasenia2" required="true">
        </br>
        <label class="texto">
            Persona:
        </label>

            <select name="persona" class="cajatexto">
                    <option selected>Elija tipo de persona</option>
                    {% for per in lista_personas %}
                    <option class="cajatexto" value="{{per.id_persona}}"> {{per.nombres}} </option>
                    {% endfor %}
            </select>


        </br>
        <label class="texto">
            Tipo de Usuario:
        </label>
                <select name="tipousuario" class="cajatexto">
                    <option selected value="">Elija tipo de usuario</option>
                    {% for genr in genr_general %}
                    <option class="cajatexto" value="{{genr.idgenr_general}}"> {{genr.nombre}} </option>
                    {% endfor %}
                </select>
        </br>
        <label class="texto">
            Rol:
        </label>
                <select name="rol" class="cajatexto">
                    <option selected value="">Elija un rol</option>
                    {% for r in rol %}
                    <option class="cajatexto" value="{{r.id_rol}}"> {{r.nombre}} </option>
                    {% endfor %}
                </select>
        </br>
        <label class="texto">
            Estado:
        </label>

                <select name="estado" class="cajatexto">
                    <option value="">Elija un estado</option>
                    {% for est in estados %}
                    <option class="cajatexto" value="{{est.idgenr_general}}"> {{est.nombre}} </option>
                    {% endfor %}
                </select>

        <br>
        <br>


        <button type="submit" class="btn btn-outline-primary">Grabar</button>
        <button type="reset" class="btn btn-outline-primary">Limpiar</button>
        <button type="button" class="btn btn-outline-primary">Cancelar</button>


    </form>
{% endblock contenido_principal %}

