{% extends 'sistemaAcademico/inicio.html' %}

{% block contenido_principal %}
<header class="cuadro_titulo">
		<a>
			<span>Configuraciones</span>
			<span> / Usuario</span>
		</a>
</header>
    <br>
    <form method="POST" >{% csrf_token %}
    <h1>Crear Usuario</h1>
        {% if error %}
        <label ><strong>{{error}}</strong></label>
        {% endif %}
        <label>
            Nombre de Usuario:
        </label>
            <input type="text" class="cajatexto" placeholder="" required="true" name="usuario">
        </br>
        <label>
            Contraseña:
        </label>
            <input type="password" class="cajatexto" pattern=".{6,}" name="contrasenia" required="true">
        </br>
        <label>
            Confirmar Contraseña:
        </label>

            <input type="password" class="cajatexto" pattern=".{6,}" name="contrasenia2" required="true">
        </br>
        <label>

            Persona:
        </label>

            <select name="persona" class="cajatexto">
                    <option selected>Elija tipo de persona</option>
                    {% for per in lista_personas %}
                    <option class="cajatexto" value="{{per.id_persona}}"> {{per.nombres}} </option>
                    {% endfor %}
            </select>


        </br>
        <label>
            Tipo de Usuario:
        </label>
                <select name="tipousuario" class="cajatexto">
                    <option selected value="">Elija tipo de usuario</option>
                    {% for genr in genr_general %}
                    <option class="cajatexto" value="{{genr.idgenr_general}}"> {{genr.nombre}} </option>
                    {% endfor %}
                </select>
        </br>
        <label>
            Rol:
        </label>
                <select name="rol" class="cajatexto">
                    <option selected value="">Elija un rol</option>
                    {% for r in rol %}
                    <option class="cajatexto" value="{{r.id_rol}}"> {{r.nombre}} </option>
                    {% endfor %}
                </select>
        </br>
        <label>
            Estado:
        </label>

                <select name="estado" class="cajatexto">
                    <option value="">Elija un estado</option>
                    {% for est in estados %}
                    <option class="cajatexto" value="{{est.idgenr_general}}"> {{est.nombre}} </option>
                    {% endfor %}
                </select>

        <br>
        <br>

        <center>
        <button type="submit" class="btn btn-success">Grabar</button>
        <button type="reset" class="btn btn-primary">Limpiar</button>
        <button type="button" class="btn btn-warning">Cancelar</button>
        </center>

    </form>
{% endblock contenido_principal %}

