{% extends 'sistemaAcademico/inicio.html' %}

{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}
<header class="cuadro_titulo">
		<h4 class="titulo">Configuracion / Editar Usuario</h4>
</header>
    <br>
    <form class="formulario" method="POST" action="{% url 'Academico:editar_usuario' usuario.id_usuario %}">{% csrf_token %}
        <br>

        <label class="texto">
            Nombre de Usuario:
        </label>
            <input type="text" class="cajatexto" placeholder="" required="true" name="usuario" value="{{usuario.usuario}}">
            <button type="button" class="btn">
                <i class="far fa-edit"></i>
            </button>
        </br>
        <label class="texto">
            Persona:
        </label>

            <select name="persona" class="cajatexto">
                    <option selected>Elija tipo de persona</option>
                    {% for per in lista_personas %}
                    <option class="cajatexto" value="{{per.id_persona}}"> {{per.nombres}} </option>
                    {% endfor %}
            </select>
            <button type="button" class="btn">
                <i class="far fa-edit"></i>
            </button>


        </br>
        <label class="texto">
            Tipo de Usuario:
        </label>
                <select name="tipousuario" class="cajatexto">
                    <option selected value="{{ usuario.id_genr_tipo_usuario }}">{{ usuario.id_genr_tipo_usuario.nombre }}</option>
                    {% for genr in permiso %}
                         {% if usuario.id_genr_tipo_usuario.nombre != genr.nombre %}
                             <option class="cajatexto" value="{{genr.idgenr_general}}"> {{genr.nombre}} </option>
                         {% endif %}
                    {% endfor %}
                </select>
            <button type="button" class="btn">
                <i class="far fa-edit"></i>
            </button>


        <div class="formulario_lado_derecho">

            <div class="form-row grid tabla_lista">
                <div>
                    <ul class="list-group">
                         <li class="list-group-item tabla_lista_cab">Roles
                            <button type="button">
                                <i class="far fa-edit"></i>
                            </button>

                         </li>
                         {% for r in roles %}
                            <li class="list-group-item tabla_lista_cont">
                               <input type="checkbox" value="{{r.id_rol}}" class="estilo_checkbox">
                                <label>
                                    {{r.id_rol}}

                                </label>
                            </li>
                         {% endfor %}

                    </ul>
                </div>
                <div>
                    <ul class="list-group">
                         <li class="list-group-item tabla_lista_cab">Descripcion</li>
                         {% for rd in roles%}
                            <li class="list-group-item tabla_lista_cont">

                                <center>
                                    {{ rd.nombre }}
                                </center>

                            </li>

                         {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <br>
        <br>

        <center>
        <button type="submit" class="btn btn-outline-primary">Guardar</button>
            <button type="reset" class="btn btn-outline-primary">Resetear</button>
        <a class="btn btn-outline-primary" href="{% url 'Academico:usuarios' %}">Cancelar</a>
        </center>

    </form>
{% endblock contenido_principal %}

