{% extends 'base/base.html' %}
{% load staticfiles %}

{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}
<header class="cuadro_titulo">
		<h4 class="titulo">Configuracion / Editar Usuario</h4>
</header>
    <br>
    <form class="formulario" method="POST" action="{% url 'Academico:editar_usuario' usuario.id_usuario %}">{% csrf_token %}
        <br>
<label class="text-dark h6 " for="modulo">Modulos:</label>
                         {% if permisos %}
                               <div class="alert alert-warning text-center" role="alert">
                                <strong>
                                    <i class="fas fa-exclamation-triangle" />
                                       Advertencia: Existen movimientos para menu
                                    <i class="fas fa-exclamation-triangle"/>
                                </strong>
                              </div>
                                <select  name="modulo" id="modulo" class="form-control text-dark ">
                                 <option selected="true" value="{{menu_actual.id_menu}}" class="text-dark" disabled="disabled">
                                        {{menu_actual.descripcion}}
                                </option>
                         {% else %}
                            <select  name="modulo" id="modulo" class="form-control text-dark ">
                                 <option selected="true" value="{{menu_actual.id_menu}}" class="text-dark" disabled="disabled">
                                        {{menu_actual.descripcion}}
                                </option>
                                {%for mp in lista_padre %}
                                    <option class="text-success" value="{{mp.id_menu}}">{{mp.descripcion}}</option>
                                {%endfor%}
                            </select>
                         {% endif %}


        <center>
        <button type="submit" class="btn btn-outline-primary">Grabar</button>
        <button type="reset" class="btn btn-outline-primary">Limpiar</button>
        <a class="btn btn-outline-primary" href="{% url 'Academico:usuarios' %}">Cancelar</a>
        </center>

    </form>
{% endblock contenido_principal %}


