{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}

{% block contenido_principal %}
<form method="POST" action="{% url 'Academico:editar_usuario' n.id_usuario  %}">
    {% csrf_token %}
      {% if error %}
        <h2>{{ error }}</h2>
     {% else %}
                <header class="cuadro_titulo">
                <h6 class="m-0 font-weight-bold text-light text-center">Editar usuario <strong>{{n.usuario}}</strong></h6>
                </header>
                <div class="card-body ">
                        <form enctype="multipart/form-data" class="form-horizontal" method="post">
                {{form|crispy}}
			<div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    <button type="reset" class="btn btn-outline-info">Restablecer</button>
                    <a class="btn btn-outline-danger" href="{% url 'Academico:usuarios' %}">Cancelar</a>
            </div>
  			</form>
    {% endif %}

{% endblock contenido_principal %} {% block footer %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
  var $ = jQuery.noConflict();
  $(document).ready(function() {
    $("#id_id_rol").toggleClass("js-example-basic-multiple");
    $(".js-example-basic-multiple").select2({
      width: "resolve", // need to override the changed default
      placeholder: "Selecciona una opcion "
    });
  });
</script>
{% endblock extrajs %}



