{% extends 'sistemaAcademico/base.html' %}
{% load staticfiles %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}

{% block contenido_principal %}

<header class="cuadro_titulo"> <h4 class="title"> Configuracion | Usuario</h4></header>

<br/><br/>
     <a href="{% url 'Academico:nuevo_usuario' %}" class="btn btn-outline-primary"  id="registrar"><span class="glyphicon glyphicon-plus"></span>nuevo
</a>
<br/><br/>

<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Tipo usuario</th>
                        <th>Estado</th>
                        <th>Acciones</th>

                    </tr>
                  </thead>
                  <tbody>

                  {% for u in lista_usuarios %}
                    <tr>
                      <td><strong>{{u.id_usuario}}</strong></td>
                      <td><strong>{{u.usuario}}</strong></td>
                        <td><strong>{{u.id_persona}} {{u.id_persona.apellidos}}</strong></td>
                        <td><strong>{{u.id_genr_tipo_usuario}}</strong></td>
                        <td><strong>{{u.id_genr_estado}}</strong></td>

                      <td>
                         <a href="{% url 'Academico:editar_usuario' u.id_usuario %}" class="btn-info btn-circle" title="Editar {{u.usuario}}"><i class="fas fa-info-circle"></i></a>
                         <button onclick="eliminar_modal('{% url 'Academico:eliminar_usuario' u.id_usuario %}')" class="btn btn-danger btn-circle" title="Eliminar {{u.usuario}}"><i class="fas fa-trash"></i></button>

                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>

<div class="modal fade" id="modal_crear" role="dialog">


</div>

<div class="modal fade" id="modal_editar" role="dialog">


</div>

<div class="modal fade" id="modal_eliminar" role="dialog">

{% endblock contenido_principal %}


