{% extends 'sistemaAcademico/inicio.html' %}

{% block contenido_principal %}
<header>
    <h2>Configuarion / Usuarios</h2>

</header>
<br/>

     <a href="{% url 'Academico:nuevo_usuario' %}" class="btn btn-success"  id="registrar"><span class="glyphicon glyphicon-plus"></span>nuevo
</a>
<br/><br/>
</table>
<table class="table table-striped">
<tr class="success">
<td>Codigo</td>
<td>Usuario</td>
<td>Clave</td>
<td>Nombre</td>
<td>Tipo usuario</td>
<td>Rol</td>
<td>Estado</td>
    <td>Acciones</td>
</tr>
{% for user in usuarios %}
<tr>
<td>{{ user.id_usuario }}</td>
<td>{{ user.usuario }}</td>
<td>{{ user.clave }}</td>
<td>{{ user.id_persona }}</td>
<td>{{ user.id_genr_tipo_usuario}}</td>
<td>{{ user.id_rol }}</td>
<td>{{ user.id_genr_estado}}</td>
	<td class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></td>
		<td class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span></td>
</tr>
{% endfor %}
</table>

{% endblock contenido_principal %}

