{% extends 'sistemaAcademico/inicio.html' %}

{% block contenido_principal %}
<header class="cuadro_titulo">
    <h4 class="titulo">Configuarion / Usuarios</h4>

</header>
<br/>

     <a href="{% url 'Academico:nuevo_usuario' %}" class="btn btn-success"  id="registrar"><span class="glyphicon glyphicon-plus"></span>nuevo
</a>
<br/><br/>
</table>
<table class="table table-striped">
<tr class="success">
<td>Codigo</td>
<td>Usuario</td>
<td>Nombre</td>
<td>Tipo usuario</td>
<td>Rol</td>
<td>Estado</td>
    <td>Acciones</td>
</tr>
{% for user in usuarios %}
<tr>
<td>{{ user.id_usuario }}</td>
<td>{{ user.usuario }}</td>
<td>{{ user.id_persona }}</td>
<td>{{ user.id_genr_tipo_usuario}}</td>
<td>{{ user.id_rol }}</td>
<td>{{ user.id_genr_estado}}</td>
	<td><a href="#" class="btn-info btn-circle"><i class="fas fa-info-circle"></i></a>
    <a href="#" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a></td>
</tr>
{% endfor %}
</table>

{% endblock contenido_principal %}

