{% extends 'base/base.html' %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}
  
{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo rounded bg-gradient-primary text-center"> <h4 class="title text-light"> Mantenimiento | Año Lectivo </h4></header>

<br/>
     <a href="{% url 'Academico:crearAniolectivo' %}" class="btn bg-gradient-primary text-light"  id="registrar">Agregar </a>
<br/>
<br/>

<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Registros de Años Lectivos</h6>
            </div>
<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered table-hover"  id="dtBasicExample2" width="100%" cellspacing="0" data-sort='false' data-page-length='5'>
                  <thead class="bg-gradient-primary">
                    <tr class="text-light text-center">
                      <th>Año</th>
                      <th>Ciclo</th>
                        <th>Inicio del ciclo</th>
                        <th>Fin del ciclo</th>
                        <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for Aniolectivo in object_list %}
                    <tr class="text-dark">
                      <td>{{Aniolectivo.anio}}</td>
                      <td>{{Aniolectivo.ciclo}}</td>
                        <td>{{Aniolectivo.fecha_incio_ciclo}}</td>
                        <td>{{Aniolectivo.fecha_fin_ciclo}}</td>
                      <td align="center">
                          <a href="{% url 'Academico:editarAniolectivo' Aniolectivo.id_anio_lectivo %}" class="btn bg-gradient-primary text-light" title="Editar"><i class="fas fa-info-circle"></i></a>
                          <a href="{% url 'Academico:eliminarAniolectivo' Aniolectivo.id_anio_lectivo %}" class="btn bg-gradient-danger text-light" title="Eliminar"><i class="fas fa-exclamation-triangle"></i></a>

                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>
</div>

<div class="modal fade" id="modal_crear" role="dialog">


</div>

<div class="modal fade" id="modal_editar" role="dialog">


</div>

<div class="modal fade" id="modal_eliminar" role="dialog">
</div>
{% endblock contenido_principal %}

