{% extends 'base/base.html' %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}
  
{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo bg-gradient-primary"> <h4 class="title"> Matriculacion | Año Lectivo</h4></header>

<br/><br/>
     <a href="{% url 'Academico:crearAniolectivo' %}" class="btn bg-gradient-primary text-light"  id="registrar"><span class="glyphicon glyphicon-plus"></span>Agregar nuevo año lectivo</a>
<br/><br/>

<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Año</th>
                      <th>Ciclo</th>
                        <th>Inicio del ciclo</th>
                        <th>Fin del ciclo</th>
                        <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for Aniolectivo in object_list %}
                    <tr>
                      <td><strong>{{Aniolectivo.anio}}</strong></td>
                      <td><strong>{{Aniolectivo.ciclo}}</strong></td>
                        <td><strong>{{Aniolectivo.fecha_incio_ciclo}}</strong></td>
                        <td><strong>{{Aniolectivo.fecha_fin_ciclo}}</strong></td>
                      <td>
                          <a href="{% url 'Academico:editarAniolectivo' Aniolectivo.id_anio_lectivo %}" class="btn btn-primary" title="Editar"><i class="fas fa-info-circle"></i></a>
                          <a href="{% url 'Academico:eliminarAniolectivo' Aniolectivo.id_anio_lectivo %}" class="btn btn-info btn-danger" title="Eliminar"><i class="fas fa-warning-circle"></i></a>

                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>

<div class="modal fade" id="modal_crear" role="dialog">


</div>

<div class="modal fade" id="modal_editar" role="dialog">


</div>

<div class="modal fade" id="modal_eliminar" role="dialog">

{% endblock contenido_principal %}

