{% extends 'base/base.html' %}

{% block sidebar %}
{% endblock sidebar %}
{% block modulo %}
{% endblock modulo %}
{% block encabezado %}
{% endblock encabezado %}
{% block footer %}

{% endblock footer %}
{% block contenido_principal %}

<header class="cuadro_titulo rounded bg-gradient-primary text-center"><h4 class="title text-light"> Mantenimiento | Año
    Lectivos </h4></header>

<br/>
<a class="btn bg-gradient-primary text-light" href="{% url 'Academico:crearAniolectivo' %}" id="registrar">Agregar </a>
<br/>
<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registros de Años Lectivos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered table-hover" id="dtBasicExample">
                <thead class="bg-gradient-primary">
                <tr class="text-light text-center">
                    <th>Año</th>
                    <th>Ciclo</th>
                    <th>Inicio del ciclo</th>
                    <th>Fin del ciclo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                {% for Aniolectivo in object_list %}
                <tr class="text-dark">
                    <td>{{Aniolectivo.anio}}</td>
                    <td>{{Aniolectivo.ciclo}}</td>
                    <td>{{Aniolectivo.fecha_incio_ciclo}}</td>
                    <td>{{Aniolectivo.fecha_fin_ciclo}}</td>
                    <td>{{Aniolectivo.id_genr_estado}}</td>
                    <td align="center">
                        <a class="btn bg-gradient-primary text-light"
                           href="{% url 'Academico:editarAniolectivo' Aniolectivo.id_anio_lectivo %}" title="Editar"><i
                                class="fas fa-info-circle"></i></a>
                        <a class="btn bg-gradient-danger text-light"
                           href="{% url 'Academico:eliminarAniolectivo' Aniolectivo.id_anio_lectivo %}"
                           title="Eliminar"><i
                                class="fas fa-exclamation-triangle"></i></a>

                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal fade" id="modal_crear" role="dialog">


</div>

<div class="modal fade" id="modal_editar" role="dialog">


</div>

<div class="modal fade" id="modal_eliminar" role="dialog">
</div>
{% endblock contenido_principal %}

