{% extends 'base/base.html' %}
{% load staticfiles %}

{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}

{% block contenido_principal %}
<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

		      <div class="contenido">

				<form method="POST" action="{% url 'Academico:eliminarAniolectivo' anio.id_anio_lectivo %}"> {% csrf_token %}

					 <div class="card shadow mb-4">
             			 <div class="card-header py-3">
             			   <h6 class="m-0 font-weight-bold text-danger">Eliminar Año Lectivo</h6>
             			 </div>

								<div class="card-body">
									<label>¿Esta seguro que desea eliminar este Año Lectivo?</label><br>
                                    Año lectivo: <label>{{ anio.anio }}</label><br>
									Ciclo: <label>{{ anio.ciclo }}</label><br>
             			   			<div class="botones">
        						    <br/>
        						    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                                        <a class="btn btn-outline-primary" href="{% url 'Academico:Aniolectivo' %}" >Cancelar</a>
        						    </div>
        						</div>
                         </div>
                </form>
              </div>
	</div>
</div>

{% endblock contenido_principal %}