<!-- tabla roles-->
{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% block footer %}

{% endblock footer %}
{% block titulo_cab_menu %}
    
{%endblock titulo_cab_menu %}


 {% block contenido_principal %}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <header class="cuadro_titulo">
    <h4 class="titulo"> Configuracion / Registrar Unidad</h4>
</header>
<br/>
<section>

    <form class="formulario" action="{% url 'Academico:nueva_empresa' %}" method="POST">
        {% csrf_token %}
    <div class="contenido">

        <label class="texto">
            Nombre Empresa
        </label>
        <input type="text" name="nombre" class="cajatexto" />
        <br/>
        <label class="texto">
             Razon social
        </label>
        <input type="text" name="rsocial" class="cajatexto"/>
        <br/>

        <label class="texto">
                Tipo identificacion
        </label>
        <select value="tipo identificacion" name="tip_ident" class="cajatexto">
            {%for tip in tip_ident %}
                <option value="{{tip.idgenr_general}}">{{tip.nombre}}</option>
            {%endfor%}


        </select>
        <br/>

        <label class="texto">
            Identificacion
        </label>
        <input type="text" name="identificacion" class="cajatexto"/><br/>

        <label class="texto">
            Direccion
        </label>
        <input type="text" name="direccion" class="cajatexto"/></br>


        <label class="texto">
            Representante Legal
        </label>
        <input type="text" name="rlegal" class="cajatexto"/><br/>

        <label class="texto">
            Email
        </label>
        <input type="email"  id="inputEmail3" name="correo" placeholder="" class="cajatexto"/><br/>

        <label class="texto">
            Telefono
        </label>
        <input type="text" name="telefono" class="cajatexto"/>
        <br/>
        <label class="texto">
            Fecha de creacion
        </label>
        <input type="date" name="f_creacion" class="cajatexto">
        <br/>

</div>
    <div class="botones">
             <br/>
             <button type="submit" class="btn btn-outline-primary">Guardar</button>

             <button type="reset" class="btn btn-outline-primary">Resetear</button>

             <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
    </div>

    </form>
</section>
    </div>
</div>

	


{% endblock contenido_principal %}