{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% load crispy_forms_tags %}
{% block contenido_principal %}
<br><br><br><br><br>
<form method="POST" action="{% url 'Academico:editar_empresa' m.id_empresa  %}">
    {% csrf_token %}
      {% if error %}
        <h2>{{ error }}</h2>
     {% else %}
    <div class="card">
        <div class="card-header">
                <header class="cuadro_titulo">
                    <h4 class="titulo">Configuracion | Editar Unidad</h4>
                </header>
        </div>
        <div class="card-body card-block">
            <form action="#" enctype="multipart/form-data" class="form-horizontal">
                {{form.nombre|as_crispy_field}}
                {{form.razon_social|as_crispy_field}}
                {{form.id_genr_tipo_identificacion|as_crispy_field}}
                {{form.direccion|as_crispy_field}}
                {{form.representante_legal|as_crispy_field}}
                {{form.correo|as_crispy_field}}
                {{form.telefono|as_crispy_field}}
                {{form.fecha_creacion|as_crispy_field}}
                {{form.identificacion|as_crispy_field }}
{#                <div class="text-center">#}
{#                    <button type="submit" class="btn btn-outline-primary">Registrar unidad</button>#}
{#                    <button type="reset" class="btn btn-outline-info">Restablecer</button>#}
{#                    <a class="btn btn-outline-danger" href="{% url 'Academico:empresas' %}">Cancelar registro</a>#}
{#                </div>#}
{#                    <label class="text-dark h6 " for="identificacion">identificacion:</label>#}
{#                <select  name="identificacion" id="identificacion" class="form-control text-dark">#}
{#                    <option selected="true" class="text-dark" disabled="disabled">#}
{#                        Seleccione una <strong>cedula</strong> o un <strong>ruc<strong/> o un <strong>pasaporte</strong> para esta identificacion:#}
{#                    </option>#}
{#                    {% if m.cedula == !=10 %}#}
{#                    <option class="text-dark" value="{{m.identificacion}}">{{m.identificacion}}</option>#}
{#                    {%else%}#}
{#                           {% if m.ruc == !=13%}#}
{#                               <option class="text-dark" value ="{{m.identificacion}}">{{m.identificacion}}</option>#}
{#                           {%else%}#}
{#                               #}
{#                           {% if m.pasaporte == ""}#}
{#                                   <option class="text-dark" value ="{{m.pasaporte}}">{{m.pasaporte}}</option>#}
{#                           {% endif %}#}
{##}
{#                            </select>#}
{#        <div class="invalid-feedback" style="display: none;" id="error_identificacion" name="error_identificacion">#}
{#                          <label id="mensaje_m" name="mensaje_identificacion">Seleccione una identificacion para este campo</label>#}
{#                        </div>#}
{#                        <br/>   #}
{#            </form>}
        </div>
    </div>
</form>
    {% endif %}
{% endblock contenido_principal %}
