
<div class="modal-dialog modal-lg" role="document">

	<div >
		

	</div>

    <div class="modal-content">
		
		      <div class="contenido">

				<form method="POST" action="{% url 'Academico:eliminar' menu.id_empresa %}"> {% csrf_token %}
					 <div class="card shadow mb-4">
             			 <div class="card-header py-3">
             			   <h6 class="m-0 font-weight-bold text-danger">Eliminar menu</h6>
             			 </div>

								<div class="card-body">
             			   			Esta seguro que deseas eliminar esta empresa?<br>
             			   			Nombre de la empresa: <label>{{menu.razon_social}}</label><br>
             			   			Identificacion: <label>{{menu.identificacion}}</label><br>

             			   			<div class="botones">
        						    <br/>
        						    <button type="submit" class="btn btn-outline-danger">Eliminar</button>

        						    <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
        						    </div>

        						</div>

             			 		</div>


							

				</form>
				

		      </div>	

	</div>


</div>