{% extends 'base/base.html' %}
{% block encabezado %}
{% endblock encabezado %}
{% block sidebar %}
{% endblock sidebar %}
{% block footer %}
  
{% endblock footer %}

{% block contenido_principal %}
  


<header class="cuadro_titulo"> <h4 class="title"> Configuracion | Unidad Educativa</h4></header>

<br/><br/>
     <button onclick="crear_modal('{% url 'Academico:nueva_empresa' %}')" class="btn btn-outline-primary"><span class="glyphicon glyphicon-plus"></span>nuevo
</button>
<br/><br/>

<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Representante</th>
                        <th>Identificacion</th>
                      <th>Direccion</th>
                      <th>telefono</th>
                      <th>Correo</th>
                        <th>Acciones</th>

                    </tr>
                  </thead>

                  <tbody>

                  {% for em in lista_empresa %}
                    <tr>
                      <td><strong>{{em.nombre}}</strong></td>
                      <td><strong>{{em.representante_legal}}</strong></td>
                      <td><strong>{{em.identificacion}}</strong></td>
                      <td><strong>{{em.direccion}}</strong></td>
                        <td><strong>{{em.telefono}}</strong></td>
                        <td><strong>{{em.correo}}</strong></td>
                      <td>
                         <a href="{% url 'Academico:editar_empresa' em.id_empresa %}" class="btn-info btn-circle" title="Editar {{em.empresa}}"><i class="fas fa-info-circle"></i></a>
                         <a href="{% url 'Academico:eliminar' em.id_empresa %}"  class="btn btn-danger btn-circle" title="Eliminar {{em.empresa}}"><i class="fas fa-info-circle"></i></a>
                      <!--   <a href="#opcion_{{m.id_menu}}" data-toggle="collapse" role="button"  aria-dropeffect="link" aria-controls="opcion_{{m.id_menu}}" class="btn btn-success btn-circle" title="Ver contenido de {{m.descripcion}}"><i class="fas fa-arrow-down"></i></a>-->
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
</div>


  {% endblock contenido_principal %}

  {% block extrajs %}


  <div class="modal fade" id="modal_crear" role="dialog">
    
  </div>
 <div class="modal fade" id="modal_eliminar" role="dialog">

  </div>

  <div class="modal fade" id="modal_editar" role="dialog">
    
  </div>


  {% endblock extrajs %}






