{% extends "sistemaAcademico/inicio.html" %}
{% load staticfiles %}




    {% block extracss %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  {% endblock extracss %}

{% block contenido_principal %}
  


<header class="cuadro_titulo"> <h4 class="title"> Configuracion | Empresa</h4></header>

<br/><br/>
     <button onclick="crear_modal('{% url 'Academico:nueva_empresa' %}')" class="btn btn-outline-primary"><span class="glyphicon glyphicon-plus"></span>nuevo
</button>
<br/><br/>

<div class="card-body">
  <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Representante</th>
                        <th>Identificacion</th>
                      <th>Direccion</th>
                      <th>telefono</th>
                      <th>Correo</th>
                        <th>Estado</th>
                        <th>Acciones</th>

                    </tr>
                  </thead>

                  <tbody>

                  {% for em in lista_empresa %}
                    <tr>
                      <td><strong>{{em.nombre}}</strong></td>
                      <td><strong>{{em.representante_legal}}</strong></td>
                      <td><strong>{{em.identificacion}}</strong></td>
                      <td><strong>{{em.direccion}}</strong></td>
                        <td><strong>{{em.telefono}}</strong></td>
                        <td><strong>{{em.correo}}</strong></td>
                        <td><strong>{{em.id_genr_estado}}</strong></td>
                      <td>
                         <button  onclick="crear_modal('{% url 'Academico:editar_empresa' em.id_empresa %}')"  class="btn-info btn-circle" title="Editar {{em.nombre}}"><i class="fas fa-info-circle"></i></button>
                         <button  onclick="eliminar_modal('{% url 'Academico:eliminar' em.id_empresa %}')"class="btn btn-danger btn-circle" title="Eliminar {{em.nombre}}"><i class="fas fa-trash"></i></button>
                      <!--   <a href="#opcion_{{m.id_menu}}" data-toggle="collapse" role="button"  aria-dropeffect="link" aria-controls="opcion_{{m.id_menu}}" class="btn btn-success btn-circle" title="Ver contenido de {{m.descripcion}}"><i class="fas fa-arrow-down"></i></a>-->
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
</div>


    

    <script>

     function crear_modal(url){

        var $ = jQuery.noConflict();

        $('#crear_empresa').load(url, function(){
            $(this).modal('show');
        });
    }

     function crear_modal(url){

        var $ = jQuery.noConflict();

        $('#editar_empresa').load(url, function(){
            $(this).modal('show');
        });
    }
     function eliminar_modal(url){

        var $ = jQuery.noConflict();

        $('#eliminar_empresa').load(url, function(){
            $(this).modal('show');
        });
    }
    
    </script>
  {% endblock contenido_principal %}

  {% block extrajs %}

  <div class="modal fade" id="crear_empresa" role="dialog">
    
  </div>
 <div class="modal fade" id="eliminar_empresa" role="dialog">

  </div>

  <div class="modal fade" id="editar_empresa" role="dialog">
    
  </div>

  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}">
 

  </script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    
  {% endblock extrajs %}

  






