{% extends 'base/base.html' %} {% block encabezado %} {% endblock encabezado %}
{% block sidebar %} {% endblock sidebar %} {% load crispy_forms_tags %}
<!-- -->
{% block contenido_principal %}

<form method="POST" action="{% url 'Academico:agregar_per'%}">
  {% csrf_token %} {% if error %}
  <h2>{{ error }}</h2>
  {% else %}

  <div class="card shadow mb-4">
    <div class="card-header py-3 bg-gradient-primary">
      <h4 class="m-0 font-weight-bold text-light text-center">
        Crear Permisos
      </h4>
    </div>

    <div class="card-body ">
      <form enctype="multipart/form-data" class="form-horizontal" method="post">
        <div class="row darkwhite-bg py-2">
          <div class="col-12">
            <div class="form-row">
              <div class=" col-0 col-md-12 mb-0">
                {{ form.id_rol | as_crispy_field }}
              </div>

              <div class=" col-0 col-md-12 mb-0">
                {{ form.menu | as_crispy_field }}
              </div>

              <br><br>
              <div class=" col-0 col-md-4 mb-0">
                <button type="submit" class="btn btn-block btn-outline-primary">
                  Registrar menu
                  </button>
              </div>
              <div class=" col-0 col-md-4 mb-0">
                <button type="reset" class="btn btn-outline-info btn-block">Restablecer</button>
              </div>
              <div class=" col-0 col-md-4 mb-0">
                <a class="btn btn-outline-danger btn-block" href="{% url 'Academico:permisos' %}">Cancelar registro</a>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</form>

{% endif %} {% endblock contenido_principal %} {% block footer %}
<!-- -->
{% endblock footer %} {% block extrajs %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  $(document).ready(function() {
    $("#id_menu").toggleClass("js-example-basic-multiple");
    $("#id_acciones").toggleClass("js-example-basic-multiple");
    $(".js-example-basic-multiple").select2({
      width: "resolve", // need to override the changed default
      placeholder: "Selecciona una opcion "
    });
  });
</script>
{% endblock extrajs %}
