{% extends 'sistemaAcademico/inicio.html' %}

	{% block contenido_principal %}

<header class="cuadro_titulo">
    <h3>Configuracion / Editar permisos</h3>
</header>

<br/><br/>
<form method="POST">{% csrf_token %}
</table>
<table class="table table-striped">
<tr class="success">
    <td>Id</td>
    <td>Modulo</td>
    <td></td>

    <td>Menú</td>
    <td></td>

    <td>Estado</td>
    <td></td>

</tr>
{% for p in permiso %}
<tr>
<td>{{ p.id_permiso }}</td>
    <td>{{ p.id_modulo }}</td>

         <td><select name="modulo" class="cajatexto">
                    <option selected>{{p.id_modulo}}</option>
                    {% for mod in modulo %}
                    <option class="cajatexto" value="{{mod.id_modulo}}"> {{mod.nombre}} </option>
                    {% endfor %}
     </select></td>


<td>{{ p.id_menu }}</td>
     <td> <select name="menu" class="cajatexto">
                    <option value="{{p.id_menu}}" selected>{{p.id_menu}}</option>
                    {% for menu in menu %}
                    <option class="cajatexto" value="{{menu.id_menu}}"> {{menu.descripcion}} </option>
                    {% endfor %}
            </select>

<td>{{ p.id_genr_estado}}</td>
     <td><select name="estado" class="cajatexto">

                    <option selected>{{p.id_genr_estado}}</option>
                    {% for est in estado %}
                    <option class="cajatexto" value="{{est.idgenr_general}}"> {{est.nombre}} </option>
                    {% endfor %}
                </select></td>
    </tr>
{% endfor %}
</table>
    <div>    <br/>
             <button type="submit" class="btn btn-outline-primary">Guardar</button>
             <button type="reset" class="btn btn-outline-primary">Resetear</button>
        <a href="{% url 'Academico:perfiles' %}" class="btn btn-outline-primary" >Cancelar</a>
              </div>




    </form>
<br/>


{% endblock contenido_principal %}

